{#
* Plugin Name : DeliveryDate4
*
* Copyright (C) BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

<!--営業日カレンダー-->
<style>
</style>

<section class="shop_calendar">
    <h2 class="title"><strong class="agp">CALENDAR</strong></h2>
	<div class="inner">
	    <div class="shop_calendar_bx_wrap">
    
	    
	    
	    
	    {% set year = 'now'|date('Y') %}
	    {% for month, monthitem in Date %}
	        {% if loop.index0 > 0 and month == '1' %}
	            {% set year = year+1 %}
	        {% endif %}
	        
	        <div class="shop_calendar_bx">
	        	<p class="caTop">{{ year }}.{{ month }}</p>
	        	
		        <table style="position: relative;">
		            <!-- ヘッダー部 -->
		            <thead>
		            	<tr>
		            		<th width="26" style="background-color:#E68971" scope="col">SUN</th>
                            <th width="26" scope="col">MON</th>
                            <th width="26" scope="col">TUE</th>
                            <th width="26" scope="col">WED</th>
                            <th width="26" scope="col">THU</th>
                            <th width="26" scope="col">FRI</th>
                            <th width="26" style="background-color:#71CBC9" scope="col">SAT</th>
		            	</tr>
		            </thead>
		            
		            <!-- データ部 -->
		            <tbody>
		                
		                <!-- 週のカウント(5週まで表示する(2月は4週の月もあり得る)) -->
		                {% set week_cnt = 0 %}
		                
		                <!-- 月の最終日 -->
		                {% set month_last_day = 0 %}
		                {% for lastdayitem in monthitem %}
		                	{% set lastday = lastdayitem.day %}
		                	{% set month_last_day = lastday|date('j') %}
		                {% endfor %}
		                
		                {% for dayitem in monthitem %}
		                    
		                    <!-- 4週以内なら表示する -->
		                    {% if week_cnt <= 4 %}
		                    
			                    {% set day = dayitem.day %}
			                    {% if day|date('j') == '1' %}
			                        <tr>
			                        {% if day|date('w') != '0' %}
			                            {% for i in 1..day|date('w') %}
			                                {% if i == 1 %}
			                                	<td class=" sun"><span></span></td>
			                                {% else %}
			                                	<td><span></span></td>
			                                {% endif %}
			                            {% endfor %}
			                        {% endif %}
			                    {% elseif day|date('w') == 0 %}
			                        <tr>
			                    {% endif %}
			                    {% set class = '' %}
			                    {% if dayitem.is_holiday %}
			                        {% set class = class ~ ' closeday' %}
			                    {% elseif day|date('w') == 0 %}
			                        {% set class = class ~ ' sun' %}
			                    {% elseif day|date('w') == 6 %}
			                        {% set class = class ~ ' sat' %}
			                    {% endif %}
			                        
			                        <!-- 6週目がある場合、5週目での翌週の日付も表示する -->
			                        {% set dayview = day|date('j') %}
			                        {% if week_cnt == 4 %}
			                        	<!-- 翌週の日付が次の最終日以内なら表示する -->
			                        	{% set nextweekday = day|date('j') + 7 %}
			                        	{% if nextweekday <= month_last_day %}
			                        		{% set dayview = dayview~'/'~nextweekday %}
			                        	{% endif %}
			                        {% endif %}
			                        
			                        <!-- 祝日表示指定(日曜と同じスタイル) -->
			                        <!-- ※指定方法: month == '指定月' and day|date('j') == '指定日' -->
			                        {% if month == '3' and day|date('j') == '21' %}
			                        	 {% set class = class ~ ' sun' %}
			                        {% elseif month == '4' and day|date('j') == '29' %}
			                        	 {% set class = class ~ ' sun' %}
			                    	{% endif %}
			                        
			                        <!-- 日付表示指定あり -->
			                        <!-- ※指定方法: month == '指定月' and day|date('j') == '指定日' -->
			                        {% if month == '4' and day|date('j') == '10' %}
			                        	<td {% if class != '' %} class="{{ class }}" {% endif %}><span>{{ dayview }}<br><small style="font-size:12px;">18時閉店</small></span></td>
			                    	{% elseif month == '3' and day|date('j') == '31' %}
			                        	<td {% if class != '' %} class="{{ class }}" {% endif %}><span>{{ dayview }}<br><small style="font-size:12px;">17時閉店</small></span></td>
			                    	{% else %}
			                    		<!-- 日付表示指定なし -->
			                    		<td {% if class != '' %} class="{{ class }}" {% endif %}><span>{{ dayview }}</span></td>
			                    	{% endif %}
			                    
			                    {% if day|date('w') == 6 or loop.last %}
			                    
			                        <!-- 最終週が土曜までなければ補填する -->
			                        {% if loop.last and day|date('w') != 6%}
			                        	{% for i in (day|date('w')+1)..6 %}
			                                {% if i == 6 %}
			                                	<td class=" sat"><span></span></td>
			                                {% else %}
			                                	<td><span></span></td>
			                                {% endif %}
			                            {% endfor %}
			                        {% endif %}
			                        
			                        </tr>
			                        
			                        {% set week_cnt = week_cnt + 1 %}
			                    {% endif %}
			                
			                {% endif %}
		                    <!-- .5週以内なら表示する -->
		                    
		                {% endfor %}
		                
		            </tbody>
		        </table>
	        </div>
	        
	    {% endfor %}
	    </div>
	    
	    <p style="text-align:right;margin-bottom:10px;">※コロナウイルスの影響により、予告なしに営業時間の短縮または臨時休業を行う可能性がございます。</p>
        <div class="shop_calendar_caption">
          <div></div>
          <p>休業日</p>
        </div>
		
    </div>
	
</section>