{#
* Plugin Name : DeliveryDate4
*
* Copyright (C) BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

<!--‰c‹Æ“úƒJƒŒƒ“ƒ_[-->
<style>
</style>

<section class="shop_calendar">
    <h2 class="title"><strong class="agp">CALENDAR</strong></h2>
	<div class="inner">
	    <div class="shop_calendar_bx_wrap">




	    {% set year = 'now'|date('Y') %}
	    {% for month, monthitem in Date %}
	        {% if loop.index0 > 0 and month == '1' %}
	            {% set year = year+1 %}
	        {% endif %}

	        <div class="shop_calendar_bx">
	        	<p class="caTop">{{ year }}.{{ month }}</p>

		        <table style="position: relative;">
		            <!-- ƒwƒbƒ_[•” -->
		            <thead>
		            	<tr>
		            		<th width="26" style="background-color:#E68971" scope="col">SUN</th>
                            <th width="26" scope="col">MON</th>
                            <th width="26" scope="col">TUE</th>
                            <th width="26" scope="col">WED</th>
                            <th width="26" scope="col">THU</th>
                            <th width="26" scope="col">FRI</th>
                            <th width="26" style="background-color:#71CBC9" scope="col">SAT</th>
		            	</tr>
		            </thead>

		            <!-- ƒf[ƒ^•” -->
		            <tbody>

		                <!-- T‚ÌƒJƒEƒ“ƒg(5T‚Ü‚Å•\¦‚·‚é(2Œ‚Í4T‚ÌŒ‚à‚ ‚è“¾‚é)) -->
		                {% set week_cnt = 0 %}

		                <!-- Œ‚ÌÅI“ú -->
		                {% set month_last_day = 0 %}
		                {% for lastdayitem in monthitem %}
		                	{% set lastday = lastdayitem.day %}
		                	{% set month_last_day = lastday|date('j') %}
		                {% endfor %}

		                {% for dayitem in monthitem %}

		                    <!-- 4TˆÈ“à‚È‚ç•\¦‚·‚é -->
		                    {% if week_cnt <= 4 %}

			                    {% set day = dayitem.day %}
			                    {% if day|date('j') == '1' %}
			                        <tr>
			                        {% if day|date('w') != '0' %}
			                            {% for i in 1..day|date('w') %}
			                                {% if i == 1 %}
			                                	<td class=" sun"><span></span></td>
			                                {% else %}
			                                	<td><span></span></td>
			                                {% endif %}
			                            {% endfor %}
			                        {% endif %}
			                    {% elseif day|date('w') == 0 %}
			                        <tr>
			                    {% endif %}
			                    {% set class = '' %}
			                    {% if dayitem.is_holiday %}
			                        {% set class = class ~ ' closeday' %}
			                    {% elseif day|date('w') == 0 %}
			                        {% set class = class ~ ' sun' %}
			                    {% elseif day|date('w') == 6 %}
			                        {% set class = class ~ ' sat' %}
			                    {% endif %}

			                        <!-- 6T–Ú‚ª‚ ‚éê‡A5T–Ú‚Å‚Ì—‚T‚Ì“ú•t‚à•\¦‚·‚é -->
			                        {% set dayview = day|date('j') %}
			                        {% if week_cnt == 4 %}
			                        	<!-- —‚T‚Ì“ú•t‚ªŸ‚ÌÅI“úˆÈ“à‚È‚ç•\¦‚·‚é -->
			                        	{% set nextweekday = day|date('j') + 7 %}
			                        	{% if nextweekday <= month_last_day %}
			                        		{% set dayview = dayview~'/'~nextweekday %}
			                        	{% endif %}
			                        {% endif %}

			                        <!-- j“ú•\¦w’è(“ú—j‚Æ“¯‚¶ƒXƒ^ƒCƒ‹) -->
			                        <!-- ¦w’è•û–@: month == 'w’èŒ' and day|date('j') == 'w’è“ú' -->
			                        {% if month == '3' and day|date('j') == '21' %}
			                        	 {% set class = class ~ ' sun' %}
			                        {% elseif month == '4' and day|date('j') == '29' %}
			                        	 {% set class = class ~ ' sun' %}
			                    	{% endif %}

			                        <!-- “ú•t•\¦w’è‚ ‚è -->
			                        <!-- ¦w’è•û–@: month == 'w’èŒ' and day|date('j') == 'w’è“ú' -->
			                        {% if month == '5' and day|date('j') == '22' %}
			                        	<td {% if class != '' %} class="{{ class }}" {% endif %}><span>{{ dayview }}<br><small style="font-size:12px;">18•Â“X</small></span></td>
			                        {% elseif month == '6' and day|date('j') == '19' %}
			                        	<td {% if class != '' %} class="{{ class }}" {% endif %}><span>{{ dayview }}<br><small style="font-size:12px;">18•Â“X</small></span></td>
			                        {% elseif month == '4' and day|date('j') == '10' %}
			                        	<td {% if class != '' %} class="{{ class }}" {% endif %}><span>{{ dayview }}<br><small style="font-size:12px;">18•Â“X</small></span></td>
			                    	{% elseif month == '3' and day|date('j') == '15' %}
			                        	<td {% if class != '' %} class="{{ class }}" {% endif %}><span>{{ dayview }}<br><small style="font-size:12px;">17•Â“X</small></span></td>
			                    	{% elseif month == '3' and day|date('j') == '15' %}
			                        	<td {% if class != '' %} class="{{ class }}" {% endif %}><span>{{ dayview }}<br><small style="font-size:12px;">17•Â“X</small></span></td>
			                    	{% elseif month == '3' and day|date('j') == '15' %}
			                        	<td {% if class != '' %} class="{{ class }}" {% endif %}><span>{{ dayview }}<br><small style="font-size:12px;">17•Â“X</small></span></td>
			                    	{% elseif month == '3' and day|date('j') == '15' %}
			                        	<td {% if class != '' %} class="{{ class }}" {% endif %}><span>{{ dayview }}<br><small style="font-size:12px;">17•Â“X</small></span></td>
			                    	{% elseif month == '3' and day|date('j') == '15' %}
			                        	<td {% if class != '' %} class="{{ class }}" {% endif %}><span>{{ dayview }}<br><small style="font-size:12px;">17•Â“X</small></span></td>
			                    	{% elseif month == '3' and day|date('j') == '15' %}
			                        	<td {% if class != '' %} class="{{ class }}" {% endif %}><span>{{ dayview }}<br><small style="font-size:12px;">17•Â“X</small></span></td>
			                    	{% elseif month == '3' and day|date('j') == '15' %}
			                        	<td {% if class != '' %} class="{{ class }}" {% endif %}><span>{{ dayview }}<br><small style="font-size:12px;">17•Â“X</small></span></td>
			                    	{% else %}
			                    		<!-- “ú•t•\¦w’è‚È‚µ -->
			                    		<td {% if class != '' %} class="{{ class }}" {% endif %}><span>{{ dayview }}</span></td>
			                    	{% endif %}

			                    {% if day|date('w') == 6 or loop.last %}

			                        <!-- ÅIT‚ª“y—j‚Ü‚Å‚È‚¯‚ê‚Î•â“U‚·‚é -->
			                        {% if loop.last and day|date('w') != 6%}
			                        	{% for i in (day|date('w')+1)..6 %}
			                                {% if i == 6 %}
			                                	<td class=" sat"><span></span></td>
			                                {% else %}
			                                	<td><span></span></td>
			                                {% endif %}
			                            {% endfor %}
			                        {% endif %}

			                        </tr>

			                        {% set week_cnt = week_cnt + 1 %}
			                    {% endif %}

			                {% endif %}
		                    <!-- .5TˆÈ“à‚È‚ç•\¦‚·‚é -->

		                {% endfor %}

		            </tbody>
		        </table>
	        </div>

	    {% endfor %}
	    </div>

	    <p style="margin-bottom:10px;">¦ƒRƒƒiƒEƒCƒ‹ƒX‚Ì‰e‹¿‚É‚æ‚èA—\‚È‚µ‚É‰c‹ÆŠÔ‚Ì’Zk‚Ü‚½‚Í—Õ‹x‹Æ‚ğs‚¤‰Â”\«‚ª‚²‚´‚¢‚Ü‚·B
	    <br>¦“ú—j“úE’è‹x“ú‚Í”­‘—‹Æ–±•À‚Ñ‚É––±ì‹Æ‚ğ‚¨‹x‚İ‚³‚¹‚Ä‚¢‚½‚¾‚¢‚Ä‚¨‚è‚Ü‚·B“y—j“ú‚P‚QˆÈ~‚É‚²’•¶‚½‚¾—ˆ‚Ü‚µ‚½’•¶ˆ—‚â‚¨–â‡‚¹‚É‘Î‚·‚é•ÔM‚ÍA—‚‰c‹Æ“ú‚É‘Î‰‚³‚¹‚Ä‚¢‚½‚¾‚¢‚Ä‚¨‚è‚Ü‚·B‘Î‰A‚²•Ô–‚É‚¨ŠÔ’¸‘Õ‚·‚éê‡‚ª‚²‚´‚¢‚Ü‚·‚Ì‚ÅA—\‚ß‚²—¹³‚­‚¾‚³‚¢‚Ü‚¹B‚Ü‚½A‚¨‹}‚¬‚Ìê‡‚Í‚¨è”‚Å‚·‚ªA‰c‹ÆŠÔ“à‚É’¼Ú“X•Ü‚É‚¨–â‡‚¹‚­‚¾‚³‚¢‚Ü‚¹B</p>
        <div class="shop_calendar_caption">
          <div></div>
          <p>‹x‹Æ“ú</p>
        </div>

    </div>

</section>