{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('assets/css/slick.css', 'user_data') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/slick-theme.css', 'user_data') }}">
{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            $('.slick-track-list').slick({
                dots: true,
                arrows: false,
                autoplay: true,
                speed: 300
            });
            
            /*
            $('.main_visual').slick({
                dots: true,
                arrows: false,
                autoplay: true,
                speed: 300
            });
            */
        });
    </script>
    

{% endblock javascript %}

{% block main %}
    <!--
    <div class="ec-sliderRole">
        <div class="main_visual">
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/img_hero_pc01.jpg') }}"></div>
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/img_hero_pc02.jpg') }}"></div>
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/img_hero_pc03.jpg') }}"></div>
        </div>
    </div>
    -->
    
        
    <div class="top_lightbox">
    <div>
      <span class="close"></span>
      <img src="https://gigaplus.makeshop.jp/yokogawa/common/img/logo.png" alt="">
<p style="text-align:left;margin-bottom:15px;"><strong style="text-align:center;">オンラインショップリニューアルに伴う受注休業について</strong><br>
 お客様各位<br>
<br>
日頃より菓子工房ティ・ヨコガワをご愛顧いただきありがとうございます。<br>
この度、オンラインショップをリニューアルし、<br>
店頭のポイントカードをオンラインでもご利用できるようになりました。<br>
<br>
ポイントカードをお持ちのお客様は、下記の情報をご用意いただき、ログインボタンよりお進みくださいませ。<br>
【ログイン情報】<br>
会員番号：ポイントカードに記載されている番号<br>
パスワード：ご登録のお電話番号　※ハイフン無し<br>
<a href="/login" target="_blank">ログインはこちら>></a><br>
<br>
<br>また、旧オンラインショップで会員登録済のお客様へは、後日メールにてログイン情報をお伝えいたします。<br>
<br>
パスワード等のお問い合わせに関しましては<a href="/contact" target="_blank">こちら</a>よりご連絡くださいませ。<br>

</p>
      <span class="btn">閉じる</span>
    </div>
  </div> <!-- .top_lightbox -->
  
  
  
{% endblock %}