{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<script>
    $(function() {
        const homepage_url = document.getElementById("homepageurl").value;
        
        var is_home = false;
        if(location.href == homepage_url){
        	//トップページと判定
        	is_home = true;
        }
        
        var startPos = 0, winScrollTop = 0;
		// scrollイベントを設定
		window.addEventListener('scroll', function () {
		    winScrollTop = this.scrollY;
		    //トップページ時のみ実行
		    if(is_home == true)
		    {
			    if (winScrollTop >= startPos) {
			        // 下にスクロールされた時
			        if (winScrollTop >= 500) {
			            // 下に500pxスクロールされたら透過させない
			            document.getElementById('topheader').classList.remove('top_header');
			        }
			    } else {
			        // 上にスクロールされた時
			        document.getElementById('topheader').classList.add('top_header');
			    }
			    startPos = winScrollTop;
		    }
		});
    });
</script>

<input type="hidden" value="{{ url('homepage') }}" id="homepageurl" />
<header id="topheader"  class="{% if Page.url == 'homepage' %}top_header{% endif %}">
    <div class="inner">
      <p class="logo"><a href="/"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/logo.png" alt="菓子工房T.YOKOGAWA"></a></p><!-- .logo -->
      <span class="burger"><span></span><span></span><span></span></span>
      <nav>
        <span class="logo_sp">
        	<a href="/">
        		<img src="https://gigaplus.makeshop.jp/yokogawa/common/img/logo_sp.png" alt="">
        	</a>
        </span>
        <div class="header_btn">
        	<a href="/guide" class="guide">ご利用ガイド</a>
        {% if is_granted('ROLE_USER') %}
            <a href="{{ url('mypage') }}" class="mypage">マイページ</a>
        	<a href="{{ url('logout') }}" class="M_loginBtn">ログアウト</a>
        {% else %}
        	<a href="{{ url('entry') }}" class="member">新規会員登録</a> 
        	<a href="{{ url('mypage_login') }}" class="M_loginBtn">ログイン</a>
        {% endif %}
        	<a href="https://www.instagram.com/cake_yokogawa/" rel="noopener noreferrer" target="_blank" class="insta"></a>
        	<a href="https://line.me/R/ti/p/%40854fgmlr" rel="noopener noreferrer" target="_blank" class="line"></a>
        </div>
        <ul>
          <li class="about"><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "ourbrand"}) }}"><span><span class="agp">OUR BRAND</span>私たちについて</span></a></li>
          <li class="item"><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "product_lineup"}) }}"><span><span class="agp">PRODUCTS</span>商品一覧</span></a></li>
          <li class="item_sp">
            <div class="inner">
            <p><span class="agp">PRODUCTS</span>商品からえらぶ</p>
<div class="search"><input type="text" id="MakeShopTopSearchInput" onkeydown="javascript:MakeShop_TopSearch(event, 'MakeShopTopSearchInput');" placeholder="キーワード検索"><a href="javascript:void(0)" id="MakeShopTopSearchButton" onclick="javascript:MakeShop_TopSearch(event, 'MakeShopTopSearchInput');">検索</a><script>$(function(){$('#MakeShopTopSearchInput').attr('placeholder','キーワード検索');});</script></div>
            <a href="{{ url('cart') }}" class="cart_btn">カートを見る</a>
            <dl class="category">
              <dt>商品一覧</dt>
              <dd><a href="/shopbrand/deco"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/nav01.jpg" alt=""><span>デコレーション</span></a></dd>
              <dd><a href="/shopbrand/petit"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/nav02.jpg" alt=""><span>プチガトー</span></a></dd>
              <dd><a href="/shopbrand/roll"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/nav03.jpg" alt=""><span>ロールケーキ</span></a></dd>
              <dd><a href="/item_all.html#seasonal"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/nav15.jpg" alt=""><span>限定スイーツ</span></a></dd>
              <dd><a href="/item_all.html#chocolate"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/nav12.jpg" alt=""><span>チョコレート</span></a></dd>
              <dd><a href="/item_all.html#baumkuchen"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/nav04.jpg" alt=""><span>バームクーヘン</span></a></dd>
              <dd><a href="/item_all.html#bakegoods"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/nav07.jpg" alt=""><span>クッキー</span></a></dd>
              <dd><a href="/item_all.html#madeleine-financie"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/nav05.jpg" alt=""><span>マドレーヌ・<br>フィナンシェ</span></a></dd>
              <dd><a href="/item_all.html#pound-cake"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/nav06.jpg" alt=""><span>パウンドケーキ</span></a></dd>
              <dd><a href="/item_all.html#original-products"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/nav10.jpg" alt=""><span>要冷蔵菓子</span></a></dd>
              <dd><a href="/item_all.html#donut-macaron"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/nav08.jpg" alt=""><span>ドーナツ・<br>カステラ</span></a></dd>
              <dd><a href="/item_all.html#cinfiture-honey"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/nav09.jpg" alt=""><span>ジャム・<br>ハチミツ</span></a></dd>
            </dl><!-- .category -->


            <dl class="use">
              <dt>用途別でえらぶ</dt>
              <dd><a href="/shopbrand/use01">【お取り寄せ】身近な人へのお礼として</a></dd>
              <dd><a href="/shopbrand/use02">【お取り寄せ】お中元・お歳暮として</a></dd>
              <dd><a href="/shopbrand/use03">【お取り寄せ】内祝いとして</a></dd>
              <dd><a href="/shopbrand/use04">【お取り寄せ】法事のお供えとして</a></dd>
              <dd><a href="/shopbrand/use01_02">【店頭受取】身近な人へのお礼として</a></dd>
              <dd><a href="/shopbrand/use02_02">【店頭受取】お中元・お歳暮として</a></dd>
              <dd><a href="/shopbrand/use03_02">【店頭受取】内祝いとして</a></dd>
              <dd><a href="/shopbrand/use04_02">【店頭受取】法事のお供えとして</a></dd>
              <dd class="outer"><a href="/item_all.html#use">詳しく見る</a></dd>
            </dl><!-- .use -->
            <dl class="price">
              <dt>価格別でえらぶ</dt>
              <dd><a href="/item_all.html#price">詳しく見る</a></dd>
            </dl><!-- .price -->
            </div><!-- .inner -->
          </li>
          <li class="shop"><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "SHOP"}) }}"><span><span class="agp">SHOP</span>店舗</span></a></li>
          <li class="news"><a href="/new/index.html"><span><span class="agp">NEWS</span>お知らせ</span></a></li>
          <li class="recruit"><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "recruit"}) }}"><span><span class="agp">RECRUIT</span>採用情報</span></a></li>
          <li class="cart"><a href="{{ url('cart') }}" class="cart_btn">カートを見る</a></li>
        </ul>
      </nav>
    </div>
  </header>