{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-topicRole">
    <div class="ec-role">
        <div class="ec-secHeading" style="text-align:center; padding-bottom:15px;">
            <span class="ec-secHeading__en" style="font-size:25px;">{{ '"心をつなぎ、幸せを運ぶ存在でありたい"'|trans }}</span>
        </div>
        <div class="" style="text-align:center;">
            <div class="">
                <p class="ec-topicRole__listItemTitle">{{ '大阪・和泉市で真心込めて美味しさを生み出すパティスリー「T.YOKOGAWA」'|trans }}</p>
                <p class="ec-topicRole__listItemTitle">{{ '豊かなの恵みの大地から生まれる新鮮な素材を使用し、パティシエが一つひとつ心をこめてつくります。'|trans }}</p>
                <p class="ec-topicRole__listItemTitle">{{ '一口ほおばると思わずほほえみが溢れ、人々をあたたかく包み'|trans }}</p>
                <p class="ec-topicRole__listItemTitle">{{ '家族や友人、仲間と過ごす時間を、甘くやさしくしてくれる'|trans }}</p>
                <p class="ec-topicRole__listItemTitle">{{ 'そんなお菓子づくりを私たちは目指しています。'|trans }}</p>
            </div>
        </div>
    </div>
</div>