{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-newItemRole">
        
        <div class="ec-secHeading" style="text-align:center;">
            <span class="ec-secHeading__en">{{ 'SHOP'|trans }}</span>
        </div>
        
        <div class="ec-newItemRole__list">
            
            <div class="ec-newItemRole__listItem" style="width:calc(100%/2);">
                    <img src="{{ asset('assets/img/top/shop_honten01.jpg') }}">
                    <div style="margin-left:50px;">
                      <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:left; font-size:18px;">{{ 'T.YOKOGAWA 和泉中央本店'|trans }}</p>
                      <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:left; font-size:13px;margin-top:0px;">{{ 'Address'|trans }}&emsp;{{ '〒594-1104　大阪府和泉市万町268-1'|trans }}</p>
                      <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:left; font-size:13px;margin-top:0px;">{{ 'Tel'|trans }}&emsp;&emsp;&emsp;&emsp;{{ '0725-57-2888'|trans }}</p>
                    </div>
            </div>
            <div class="ec-newItemRole__listItem" style="width:calc(100%/2);">
                    <img src="{{ asset('assets/img/top/shop_kishiwada01.jpg') }}">
                    <div style="margin-left:50px;">
                      <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:left; font-size:18px;">{{ 'T.YOKOGAWA 岸和田店'|trans }}</p>
                      <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:left; font-size:13px;margin-top:0px;">{{ 'Address'|trans }}&emsp;{{ '〒596-0044 大阪府岸和田市西之内町5-7'|trans }}</p>
                      <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:left; font-size:13px;margin-top:0px;">{{ 'Tel'|trans }}&emsp;&emsp;&emsp;&emsp;{{ '072-447-8801'|trans }}</p>
                    </div>
            </div>

        </div>
        
        <div class="ec-eyecatchRole">
            <div class="ec-eyecatchRole__intro" style="max-width:300px; height:60px; margin:auto;">
                <a class="ec-blockBtn--top" style="background-color:#F5F4F9; border:1px solid #F5F4F9; color:#000;" href="{{ url('product_list') }}">{{ '店舗情報'|trans }}</a>
            </div>
        </div>
    
    </div>
</div>