{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block javascript %}
	<script>
		$(function() {
			$('.ec-modal-overlay, .ec-modal .ec-inlineBtn--cancel').on('click', function() {
	            $('.ec-modal').hide();
	            //オプション選択用ポップアップも閉じる
	            $('.ec-option-modal').hide();
	        });
	        
	        $('.sentaku_tentou').on('click', function() {
	            //--- 「店頭受付」選択時 ---
	            var judge = true;
	            
	            var item_count = 0;
	            var item_cnt_id = 'item_cnt_id';
				if(document.getElementById(item_cnt_id) != null){
					//件数取得
					item_count = document.getElementById(item_cnt_id).value;
				}
				
				/** ToDo 20210922 店頭受取orお取り寄せの判断がカテゴリですべき不明のためいったんコメント
				//「店頭受付」カテゴリを持たない商品があるか
				for (let i = 0; i < item_count; i++) {
					var kagosyouhin_product = 'kagosyouhin_product_' + i;
					//文字色初期値は黒
					if(document.getElementById(kagosyouhin_product) != null){
						document.getElementById(kagosyouhin_product).style.color="#000";
					}
					
					var kagosyouhin_type = 'kagosyouhin_type_' + i;
					if(document.getElementById(kagosyouhin_type) != null){
						var tar_cat = document.getElementById(kagosyouhin_type).value;
						if ( tar_cat.indexOf('_tento') == -1) {
							//含まない場合
							// エラー判定
							judge = false;
							// 該当商品の文字色を赤くする
							if(document.getElementById(kagosyouhin_product) != null){
								document.getElementById(kagosyouhin_product).style.color="red";
							}
						}
					}
				}
				+/
	            
	            //「店頭受付」カテゴリを持たない商品があればエラー表示
	            if(judge == false){
	            	alert('カートに店頭受付できない商品が含まれています。');
	            	//モーダルを閉じる
	            	$('.ec-option-modal').hide();
	            }else{
	            	//モーダルを閉じる
	            	$('.ec-option-modal').hide();
	            	//レジに進むボタンを押す
	            	document.getElementById("go-regi").click();
	            }
	        });
	        
	        $('.sentaku_otoriyose').on('click', function() {
	            //--- 「お取り寄せ」選択時 ---
	            var judge = true;
	            
	            var item_count = 0;
	            var item_cnt_id = 'item_cnt_id';
				if(document.getElementById(item_cnt_id) != null){
					//件数取得
					item_count = document.getElementById(item_cnt_id).value;
				}
				
				/** ToDo 20210922 店頭受取orお取り寄せの判断がカテゴリですべき不明のためいったんコメント
				//「お取り寄せ」カテゴリを持たない商品があるか
				for (let i = 0; i < item_count; i++) {
					var kagosyouhin_product = 'kagosyouhin_product_' + i;
					//文字色初期値は黒
					if(document.getElementById(kagosyouhin_product) != null){
						document.getElementById(kagosyouhin_product).style.color="#000";
					}
					
					var kagosyouhin_type = 'kagosyouhin_type_' + i;
					if(document.getElementById(kagosyouhin_type) != null){
						var tar_cat = document.getElementById(kagosyouhin_type).value;
						if ( tar_cat.indexOf('_toriyose') == -1) {
							//含まない場合
							// エラー判定
							judge = false;
							// 該当商品の文字色を赤くする
							if(document.getElementById(kagosyouhin_product) != null){
								document.getElementById(kagosyouhin_product).style.color="red";
							}
						}
					}
				}
				*/
	            
	            //「お取り寄せ」カテゴリを持たない商品があればエラー表示
	            if(judge == false){
	            	alert('カートにお取り寄せできない商品が含まれています。');
	            	//モーダルを閉じる
	            	$('.ec-option-modal').hide();
	            }else{
	            	//モーダルを閉じる
	            	$('.ec-option-modal').hide();
	            	//レジに進むボタンを押す
	            	document.getElementById("go-regi").click();
	            }
	        });
	        
        });
	</script>
	
	<script>
        function checkTypeRegi() {
        	//受け取り方法選択モーダル表示
        	event.preventDefault();
            //オプション選択用ポップアップ表示
            $('.ec-option-modal').show();
        }
    </script>
{% endblock %}

{% block main %}

    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'ショッピングカート'|trans }}</h1>
        </div>
    </div>

    <div class="ec-cartRole">
        <div class="ec-cartRole__progress">
            <ul class="ec-progress">
                {% set step = 1 %}
                <li class="ec-progress__item is-complete">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'カートの商品'|trans }}
                    </div>
                </li>
                {% if is_granted('ROLE_USER') == false %}
                    <li class="ec-progress__item">
                        <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                        </div>
                        <div class="ec-progress__label">{{ 'お客様情報'|trans }}
                        </div>
                    </li>
                {% endif %}
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'ご注文手続き'|trans }}
                    </div>
                </li>
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'ご注文内容確認'|trans }}
                    </div>
                </li>
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ '完了'|trans }}
                    </div>
                </li>
            </ul>
        </div>
        {% set productStr = app.session.flashbag.get('eccube.front.request.product') %}
        {% for error in app.session.flashbag.get('eccube.front.request.error') %}
            {% set idx = loop.index0 %}
            <div class="ec-cartRole__error">
                <div class="ec-alert-warning">
                    <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"></div>
                    <div class="ec-alert-warning__text">
                        {% if productStr[idx] is defined %}
                            {{ error|trans({'%product%':productStr[idx]})|nl2br }}
                        {% else %}
                            {{ error|trans|nl2br }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for error in app.session.flashbag.get('eccube.front.cart.error') %}
            <div class="ec-cartRole__error">
                <div class="ec-alert-warning">
                    <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"></div>
                    <div class="ec-alert-warning__text">
                        {{ error|trans|nl2br }}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if totalQuantity > 0 %}
            <div class="ec-cartRole__totalText">
                <p>
                    {{ '商品の合計金額は「<strong>%price%</strong>」です。'|trans({ '%price%': totalPrice|price })|raw }}
                </p>
            </div>
            {% if Carts|length > 1 %}
                <div class="ec-cartRole__error">
                    <div class="ec-alert-warning">
                        <div class="ec-alert-warning__text">
                            {{ '同時購入できない商品がカートに含まれています。'|trans|nl2br }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <form name="form" id="form_cart" class="ec-cartRole" method="post" action="{{ url('cart') }}">

                <!-- 商品数カウント -->
                {% set item_cnt = 0 %}
                
                {% for CartIndex,Cart in Carts %}
                    {% set cartKey = Cart.cart_key %}
                    {% for error in app.session.flashbag.get('eccube.front.cart.' ~ cartKey ~ '.request.error') %}
                        <div class="ec-cartRole__error">
                            <div class="ec-alert-warning">
                                <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"></div>
                                <div class="ec-alert-warning__text">
                                    {{ error|trans|nl2br }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="ec-cartRole__cart">
                        <div class="ec-cartTable">
                            <ol class="ec-cartHeader">
                                <li class="ec-cartHeader__label">{{ '削除'|trans }}</li>
                                <li class="ec-cartHeader__label">{{ '商品内容'|trans }}</li>
                                <li class="ec-cartHeader__label">{{ '数量'|trans }}</li>
                                <li class="ec-cartHeader__label">{{ '小計'|trans }}</li>
                            </ol>
                            {% for CartItem in Cart.CartItems %}
                                {% set ProductClass = CartItem.ProductClass %}
                                
                                <!-- オプションセット -->
                                {% set ClassCategory1  = CartItem.ClassCategory1  %}
                                {% set ClassCategory2  = CartItem.ClassCategory2  %}
                                {% set ClassCategory3  = CartItem.ClassCategory3  %}
                                {% set ClassCategory4  = CartItem.ClassCategory4  %}
                                {% set ClassCategory5  = CartItem.ClassCategory5  %}
                                {% set ClassCategory6  = CartItem.ClassCategory6  %}
                                {% set ClassCategory7  = CartItem.ClassCategory7  %}
                                {% set ClassCategory8  = CartItem.ClassCategory8  %}
                                {% set ClassCategory9  = CartItem.ClassCategory9  %}
                                {% set ClassCategory10 = CartItem.ClassCategory10 %}
                                {% set PrintnamePlate = CartItem.printname_plate %}
                                {% set PrintnameNoshi = CartItem.printname_noshi %}
                                {% set OptionDetail   = CartItem.option_detail %}

                                {% set Product = ProductClass.Product %}
                                <ul class="ec-cartRow">
                                    <li class="ec-cartRow__delColumn">
                                        <a href="{{ url('cart_handle_item', {'operation': 'remove', 'productClassId': ProductClass.id }) }}" {{ csrf_token_for_anchor() }} class="ec-icon" data-method="put" data-message="カートから商品を削除してもよろしいですか?">
                                            <img src="{{ asset('assets/icon/cross.svg') }}" alt="delete">
                                        </a>
                                    </li>
                                    <li class="ec-cartRow__contentColumn">
                                        <div class="ec-cartRow__img">
                                            <a target="_blank" href="{{ url('product_detail', {id : Product.id} ) }}">
                                                <img src="{{ asset(Product.MainListImage|no_image_product, 'save_image') }}" alt="{{ Product.name }}"/>
                                            </a>
                                        </div>
                                        <div class="ec-cartRow__summary" style="width:75%; color:#000;" id="kagosyouhin_product_{{ item_cnt }}">
                                            <div class="ec-cartRow__name">
                                                <a target="_blank" href="{{ url('product_detail', {id : Product.id} ) }}">{{ Product.name }}</a>
                                                {% if ProductClass.ClassCategory1 and ProductClass.ClassCategory1.id %}
                                                    <br>{{ ProductClass.ClassCategory1.ClassName.name }}：{{ ProductClass.ClassCategory1 }}
                                                {% endif %}
                                                {% if ProductClass.ClassCategory2 and ProductClass.ClassCategory2.id %}
                                                    <br>{{ ProductClass.ClassCategory2.ClassName.name }}：{{ ProductClass.ClassCategory2 }}
                                                {% endif %}
                                                
                                                <!-- 選択オプション表示 -->
                                                {% if ClassCategory1 and ClassCategory1.id %}
                                                    <br>{{ ClassCategory1.ClassName.name }}：{{ ClassCategory1.name }}
                                                {% endif %}
                                                {% if ClassCategory2 and ClassCategory2.id %}
                                                    <br>{{ ClassCategory2.ClassName.name }}：{{ ClassCategory2.name }}
                                                {% endif %}
                                                {% if ClassCategory3 and ClassCategory3.id %}
                                                    <br>{{ ClassCategory3.ClassName.name }}：{{ ClassCategory3.name }}
                                                {% endif %}
                                                {% if ClassCategory4 and ClassCategory4.id %}
                                                    <br>{{ ClassCategory4.ClassName.name }}：{{ ClassCategory4.name }}
                                                {% endif %}
                                                {% if ClassCategory5 and ClassCategory5.id %}
                                                    <br>{{ ClassCategory5.ClassName.name }}：{{ ClassCategory5.name }}
                                                {% endif %}
                                                {% if ClassCategory6 and ClassCategory6.id %}
                                                    <br>{{ ClassCategory6.ClassName.name }}：{{ ClassCategory6.name }}
                                                {% endif %}
                                                {% if ClassCategory7 and ClassCategory7.id %}
                                                    <br>{{ ClassCategory7.ClassName.name }}：{{ ClassCategory7.name }}
                                                {% endif %}
                                                {% if ClassCategory8 and ClassCategory8.id %}
                                                    <br>{{ ClassCategory8.ClassName.name }}：{{ ClassCategory8.name }}
                                                {% endif %}
                                                {% if ClassCategory9 and ClassCategory9.id %}
                                                    <br>{{ ClassCategory9.ClassName.name }}：{{ ClassCategory9.name }}
                                                {% endif %}
                                                {% if ClassCategory10 and ClassCategory10.id %}
                                                    <br>{{ ClassCategory10.ClassName.name }}：{{ ClassCategory10.name }}
                                                {% endif %}
                                                
                                                {% if PrintnamePlate != "" %}
                                                    <br>メッセージ：{{ PrintnamePlate }}
                                                {% endif %}
                                                {% if PrintnameNoshi != "" %}
                                                    <br>のしの名入れ：{{ PrintnameNoshi }}
                                                {% endif %}
                                                
                                                {% if OptionDetail != "" %}
                                                    <br>{{ OptionDetail|nl2br }}
                                                {% endif %}
                                                
                                            </div>
                                            <div class="ec-cartRow__unitPrice">{{ CartItem.price|price }}</div>
                                            <div class="ec-cartRow__sutbtotalSP">{{ '小計：'|trans }}{{ CartItem.total_price|price }}</div>
                                        </div>
                                    </li>
                                    <li class="ec-cartRow__amountColumn">
                                        <div class="ec-cartRow__amount">{{ CartItem.quantity|number_format }}</div>
                                        <div class="ec-cartRow__amountSP">{{ '数量：'|trans }}{{ CartItem.quantity|number_format }}</div>
                                        <div class="ec-cartRow__amountUpDown">
                                            {% if CartItem.quantity > 1 %}
                                                <a href="{{ url('cart_handle_item', {'operation': 'down', 'productClassId': ProductClass.id}) }}" {{ csrf_token_for_anchor() }} class="ec-cartRow__amountDownButton load-overlay" data-method="put" data-confirm="false">
                                                    <span class="ec-cartRow__amountDownButton__icon"><img src="{{ asset('assets/icon/minus-dark.svg') }}" alt="reduce"></span>
                                                </a>
                                            {% else %}
                                                <div class="ec-cartRow__amountDownButtonDisabled">
                                                    <span class="ec-cartRow__amountDownButton__icon"><img src="{{ asset('assets/icon/minus.svg') }}" alt="reduce"></span>
                                                </div>
                                            {% endif %}
                                            <a href="{{ url('cart_handle_item', {'operation': 'up', 'productClassId': ProductClass.id}) }}" {{ csrf_token_for_anchor() }} class="ec-cartRow__amountUpButton load-overlay" data-method="put" data-confirm="false">
                                                <span class="ec-cartRow__amountUpButton__icon"><img src="{{ asset('assets/icon/plus-dark.svg') }}" alt="increase"></span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="ec-cartRow__subtotalColumn">
                                        <div class="ec-cartRow__sutbtotal">{{ CartItem.total_price|price }}</div>
                                    </li>
                                    
									<!-- カテゴリ取得し保持する（店頭受取、お取り寄せ） -->
									{% set UketoriType   = '' %}
									{% for ProductCategory in Product.ProductCategories %}
										{% if  '店頭受取' in ProductCategory.Category.name %}
											{% set UketoriType   = UketoriType ~ '_tento' %}
									    {% elseif '取り寄せ' in ProductCategory.Category.name %}
									    	{% set UketoriType   = UketoriType ~ '_toriyose' %}
									    {% endif %}
									{% endfor %}
									<input type="hidden" id="kagosyouhin_type_{{ item_cnt }}" name="kagosyouhin_type_{{ item_cnt }}" value="{{ UketoriType }}">
									{% set item_cnt = item_cnt+1 %}
									<!-- .カテゴリ取得し保持する（店頭受取、お取り寄せ） -->
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                    <input type="hidden" id="item_cnt_id" name="item_cnt_id" value="{{ item_cnt }}">
									
                    <div class="ec-cartRole__progress">
                        {% if BaseInfo.delivery_free_amount and BaseInfo.delivery_free_quantity %}
                            <br/>
                            {% if is_delivery_free[cartKey] %}
                                {{ '現在送料無料です。'|trans }}
                            {% else %}
                                {{ 'あと「<strong>%price%</strong>」または「<strong>%quantity%個</strong>」のお買い上げで<strong class="ec-color-red">送料無料</strong>になります。'|trans({ '%price%': least[cartKey]|price, '%quantity%': quantity[cartKey]|number_format })|raw }}
                            {% endif %}
                        {% elseif BaseInfo.delivery_free_amount %}
                            <br/>
                            {% if is_delivery_free[cartKey] %}
                                {{ '現在送料無料です。'|trans }}
                            {% else %}
                                {{ 'あと「<strong>%price%</strong>」のお買い上げで<strong class="ec-color-red">送料無料</strong>になります。'|trans({ '%price%': least[cartKey]|price })|raw }}
                            {% endif %}
                        {% elseif BaseInfo.delivery_free_quantity %}
                            <br/>
                            {% if is_delivery_free[cartKey] %}
                                {{ '現在送料無料です。'|trans }}
                            {% else %}
                                {{ 'あと「<strong>%quantity%個</strong>」のお買い上げで<strong class="ec-color-red">送料無料</strong>になります。'|trans({ '%quantity%': quantity[cartKey]|number_format })|raw }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="ec-cartRole__actions">
                        <div class="ec-cartRole__total">{{ '合計：'|trans }}<span class="ec-cartRole__totalAmount">{{ Cart.totalPrice|price }}</span>
                        </div>
                        
                        <!-- レジ袋購入リンク -->
                        <a class="ec-blockBtn--cancel" style="margin-bottom:10px; background:rgba(226, 161, 10, 0.2); border:none; color:#000;"  href="{{ url('product_list') }}?category_id=10">{{ 'レジ袋の購入はこちら'|trans }}</a>
                        
                        <a class="ec-blockBtn--action select-options" id="to-regi" onclick="checkTypeRegi()">{{ 'レジに進む'|trans }}</a>
                        <!-- レジに進むボタン(実施)-->
                        <a class="ec-blockBtn--action" style="display:none;" id="go-regi" href="{{ path('cart_buystep', {'cart_key':cartKey}) }}">{{ 'レジに進む実施'|trans }}</a>
                        
                        {% if loop.last %}
                            <a class="ec-blockBtn--cancel" href="{{ path('homepage') }}">{{ 'お買い物を続ける'|trans }}</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </form>
        {% else %}
            {% for CartIndex,Cart in Carts %}
                {% set cartKey = Cart.cart_key %}
                {% for error in app.session.flashbag.get('eccube.front.cart.' ~ cartKey ~ '.request.error') %}
                    <div class="ec-cartRole__error">
                        <div class="ec-alert-warning">
                            <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"></div>
                            <div class="ec-alert-warning__text">
                                {{ error|trans|nl2br }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="ec-role">
                <div class="ec-off3Grid">
                    <div class="ec-off3Grid__cell">
                        <div class="ec-alert-warning">
                            <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"></div>
                            <div class="ec-alert-warning__text">{{ '現在カート内に商品はございません。'|trans }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        
        <!-- 受け取り方法選択modal -->
        <div class="ec-option-modal" style="display: none;position: fixed;top: 0;left: 0;z-index: 99999;width: 100%;height: 100%;">
            <div class="ec-option-modal-overlay" style="display: flex;justify-content: center;align-items: center;background-color: rgba(0, 0, 0, 0.3);width: 100%;height: 100%;">
                <div class="ec-option-modal-wrap" style="position: relative;border-radius: 2px;border: 1px solid #333;background-color: #fff;padding: 40px 10px;margin: 20px auto;">
                    
                    <div class="ec-productRole__btn" style="width:100%; text-align:center; font-size:20px;">
                    	<span><b>受取方法を選択ください</b></span>
                    </div>
                    
                    <button id="sentaku_tentou" class="sentaku_tentou ec-productRole__btn" style="color:#fff; background-color:#e2041b; float:left; font-size:15px; width:200px; text-align:center; margin:20px;">
                        {{ '店頭受取'|trans }}
                    </button>
                    
                    <button id="sentaku_otoriyose" class="sentaku_otoriyose ec-productRole__btn" style="color:#fff; background-color:#ffa500; float:left; font-size:15px; width:200px; text-align:center; margin:20px;">
                        {{ 'お取り寄せ'|trans }}
                    </button>
                    
                    <div style="clear:both;"></div>

                </div>
            </div>
        </div>
        <!-- .受け取り方法選択modal -->
        
    </div>

{% endblock %}