{% extends 'default_frame.twig' %}

{% block main %}

<main>
        <div class="item_index inner">
          <h1 class="title"><strong class="agp">PRODUCTS</strong><span>商品一覧</span></h1><!-- .title -->

          <!-- 今月のおすすめ -->
          <section class="recommended" id="recommended">
            <div class="item_main">
              <a href="{{ url('product_list') }}?category_id=63" style="text-decoration: none;">
              	<img src="/html/user_data/assets/img/catelist_season_fall.png" alt="今月のおすすめ">
              </a>
            </div>
            <div class="category_name">
              <h2 class="small_title"><strong>今月のおすすめ</strong><span class="agp">Recommended</span></h2>
            </div><!-- .category_name -->
            <p>季節ごとのおすすめ商品はこちらをチェック！</p>
          </section>
          
          <section class="cake" id="cake">
            <div class="item_main">
              <a href="{{ url('product_list') }}?category_id=67" style="text-decoration: none;">
              	<img src="/html/user_data/assets/img/catelist_cake.png" alt="ケーキ">
              </a>
            </div>
            <div class="category_name">
              <h2 class="small_title"><strong>ケーキ</strong><span class="agp">Cake</span></h2>
            </div><!-- .category_name -->
            <p>ホールケーキ・ロールケーキ・カットケーキ。様々なシーンでご利用いただけます。</p>
          </section>
          
          <section class="reitoucake" id="reitoucake">
            <div class="item_main">
              <a href="{{ url('product_list') }}?category_id=74" style="text-decoration: none;">
              	<img src="/html/user_data/assets/img/catelist_reitoucake.png" alt="冷凍ケーキ">
              </a>
            </div>
            <div class="category_name">
              <h2 class="small_title"><strong>冷凍ケーキ</strong><span class="agp">Ice cake</span></h2>
            </div><!-- .category_name -->
            <p>遠方の方にもT.YOKOGAWAの味をお届けします。冷凍ケーキとして新登場！</p>
          </section>
          
          <section class="gift" id="gift">
            <div class="item_main">
              <a href="{{ url('product_list') }}?category_id=75" style="text-decoration: none;">
              	<img src="/html/user_data/assets/img/catelist_gift.png" alt="ギフト商品">
              </a>
            </div>
            <div class="category_name">
              <h2 class="small_title"><strong>ギフト商品</strong><span class="agp">Gift</span></h2>
            </div><!-- .category_name -->
            <p>ご進物からご自宅用まで様々なご用途にお答えする商品をご用意しております！</p>
          </section>
          
          <section class="single" id="single">
            <div class="item_main">
              <a href="{{ url('product_list') }}?category_id=82" style="text-decoration: none;">
              	<img src="/html/user_data/assets/img/catelist_tanpin.png" alt="単品">
              </a>
            </div>
            <div class="category_name">
              <h2 class="small_title"><strong>単品</strong><span class="agp">Single</span></h2>
            </div><!-- .category_name -->
            <p>T.YOKOGAWA自慢のお菓子が1個から購入できるようになりました。</p>
          </section>
          
          <section class="confiture-honey" id="confiture-honey">
            <div class="item_main">
              <a href="{{ url('product_list') }}?category_id=91" style="text-decoration: none;">
              	<img src="/html/user_data/assets/img/catelist_confile_hatimitu.png" alt="コンフィチュール・ハチミツ">
              </a>
            </div>
            <div class="category_name">
              <h2 class="small_title"><strong>コンフィチュール・ハチミツ</strong><span class="agp">Confiture/Honey</span></h2>
            </div><!-- .category_name -->
            <p>旬のフルーツなどを使用し、じっくりとお砂糖のみで炊き上げました。</p>
          </section>

          <section class="chocolate" id="chocolate">
            <div class="item_main">
              <a href="{{ url('product_list') }}?category_id=92" style="text-decoration: none;">
              	<img src="/html/user_data/assets/img/catelist_chocolate.png" alt="チョコレート">
              </a>
            </div>
            <div class="category_name">
              <h2 class="small_title"><strong>チョコレート</strong><span class="agp">Chocolate</span></h2>
            </div>
            <p>職人のこだわりが詰まったT.YOKOGAWA自慢のチョコレートで心も身体もしあわせなひと時を。<br><span style="color:red;">本日分入荷次第、店頭にて</span></p>
          </section>

          <section class="Jelly" id="Jelly">
            <div class="item_main">
              <a href="{{ url('product_list') }}?category_id=66" style="text-decoration: none;">
              	<img src="/html/user_data/assets/img/catelist_jelly.png" alt="ゼリー・ソルベ">
              </a>
            </div>
            <div class="category_name">
              <h2 class="small_title"><strong>ゼリー・ソルベ</strong><span class="agp">Jelly and Sherbet</span></h2>
            </div><!-- .category_name -->
            <p>みずみずしいフルーツをたっぷり使用したT.YOKOGAWA自慢の一品です<br><span style="color:red;">4月下旬から順次販売、8月末まで</span></p>
          </section>
          
          <div class="column2">
          </div><!-- .column2 -->
          
        </div><!-- .item_index -->
        
        <!--
        <nav class="use_nav" id="use">
          <p>用途別でえらぶ</p>
          <dl class="shop">
            <dt>店頭受取</dt>
            <dd><a href="{{ url('product_list') }}?category_id=22" class="btn">身近な人へのお礼として</a></dd>
            <dd><a href="{{ url('product_list') }}?category_id=23" class="btn">お中元・お歳暮として</a></dd>
            <dd><a href="{{ url('product_list') }}?category_id=24" class="btn">内祝いとして</a></dd>
            <dd><a href="{{ url('product_list') }}?category_id=25" class="btn">法事のお供えとして</a></dd>
          </dl>
          <dl class="order">
            <dt>お取り寄せ</dt>
            <dd><a href="{{ url('product_list') }}?category_id=17" class="btn">身近な人へのお礼として</a></dd>
            <dd><a href="{{ url('product_list') }}?category_id=18" class="btn">お中元・お歳暮として</a></dd>
            <dd><a href="{{ url('product_list') }}?category_id=19" class="btn">内祝いとして</a></dd>
            <dd><a href="{{ url('product_list') }}?category_id=20" class="btn">法事のお供えとして</a></dd>
          </dl>
        </nav>
        <nav class="price_nav" id="price">
          <p>価格帯からえらぶ</p>
          <dl class="shop">
            <dt>店頭受取</dt>
            <dd><a href="{{ url('product_list') }}?category_id=31" class="btn">〜\2,160</a></dd>
            <dd><a href="{{ url('product_list') }}?category_id=32" class="btn">\2,160〜3,780</a></dd>
            <dd><a href="{{ url('product_list') }}?category_id=33" class="btn">\3,780〜</a></dd>
          </dl>
          <dl class="order">
            <dt>お取り寄せ</dt>
            <dd><a href="{{ url('product_list') }}?category_id=27" class="btn">〜\2,160</a></dd>
            <dd><a href="{{ url('product_list') }}?category_id=28" class="btn">\2,160〜3,780</a></dd>
            <dd><a href="{{ url('product_list') }}?category_id=29" class="btn">\3,780〜</a></dd>
          </dl>
        </nav>
        -->
        
        <!--
        <nav class="guide_nav">
          <p>ご利用ガイド</p>
          <ul>
            <li class="howto"><a href="/guide.html#g01"><span>注文方法</span></a></li>
            <li class="purse"><a href="/guide.html#g02"><span>支払方法</span></a></li>
            <li class="cancel"><a href="/guide.html#g03"><span>キャンセルに<br>ついて</span></a></li>
            <li class="wrapping"><a href="/guide.html#g04"><span>ラッピングに<br>ついて</span></a></li>
            <li class="postage"><a href="/guide.html#g05"><span>送料について</span></a></li>
            <li class="shopfront"><a href="/guide.html#g06"><span>店頭受取に<br>ついて</span></a></li>
            <li class="point"><a href="/guide.html#g07"><span>ポイントに<br>ついて</span></a></li>
          </ul>
        </nav>
        -->
      </main>

{% endblock %}