{% extends 'default_frame.twig' %}

{% block main %}
</td>
</tr>
</table>
</td>
</tr>
</table>

    <div style="margin-top:110px;">
    	
    	<div class="app_licence_base" style="width:100%; height:200px; background: url(/html/user_data/assets/img/app_icon/app_icon_licenceback.png) no-repeat 0% 0%;background-repeat:no-repeat;  background-position:50%;  background-size:cover;">
			
	    	<div class="customer_lisence_frame app_licence_frame">
	    	
	    		<!-- ログイン会員名、現在のポイント -->
	    		<div>
	    			<p>{{ 'ようこそ　%last_name% %first_name%様'|trans({ '%last_name%': app.user.name01, '%first_name%': app.user.name02 }) }}</p>
	    		</div>
	    		<div class="">
				    {% if BaseInfo.option_point %}
				        <p>
				        	<span style="font-size:15px;">
				        		{{ '現在のポイント' }} 
				        	</span>
				        	<span style="font-weight:bold; font-size:20px;">
				        		{{ ' %point%'|trans({ '%point%': app.user.point|number_format}) }} 
				        	</span>
				        	<span style="font-size:15px;">
				        		{{ 'pt' }}
				        	</span>
				        </p>
				    {% else %}
				    	<span style="font-size:15px;">
				        		{{ '現在のポイント' }} 
				        	</span>
				        	<span style="font-weight:bold; font-size:20px;">
				        		{{ ' 0 ' }} 
				        	</span>
				        	<span style="font-size:15px;">
				        		{{ 'pt' }}
				        	</span>
				    {% endif %}
				</div>
				
				
	    		<!-- 会員番号バーコード -->
	    		<div class="barcode_frame">
					{{ getbarcode(app.user.customer_code) }}
				</div>
	    		<div>
	    			<p>{{ '会員番号　%customer_code% '|trans({ '%customer_code%': app.user.customer_code }) }}</p>
	    		</div>
	    		
	    		<!-- 公式オンラインショップ　リンク -->
		    	<div>
		    		<a href="{{ url('homepage') }}" class="app_go_onlineshop">公式オンラインショップ</a>
		    	</div>
	    		
	    	</div>
	    	
    	</div>
    	
    </div>
    
{% endblock %}