{% extends 'default_frame.twig' %}

{% block main %}
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>

 <div class="contents">
     <main>
       <div class="material" style="padding-top:50px;">
         <h1 class="title"><strong class="agp">OUR BRAND</strong></h1><!-- .title -->
         <div class="material_wrap inner">
           <section>
             <div class="box">
               <h2 class="headline">こだわりのクッキー・焼菓子</h2>
               <p>素材、製造にこだわった個性豊かなお菓子たち。<br>
                 「もう一つ、もう一つ。。」と思わず手が進みます。</p>
             </div><!-- .box -->
           </section>
           <section class="material_list">
             <ul>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie09.jpg') }}" alt=""></span>
                 <strong>ピスタ</strong>
                 <p>ピスタチオを入れることで、ほんのり塩気を感じるクッキーに仕上げました。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie10.jpg') }}" alt=""></span>
                 <strong>カカオ</strong>
                 <p>カカオ豆のカリカリが楽しいビターなチョコレートクッキーです。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie11.jpg') }}" alt=""></span>
                 <strong>マーブル</strong>
                 <p>プレーンとチョコレートで描いたマーブル模様は唯一無二です。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie12.jpg') }}" alt=""></span>
                 <strong>ココナッツ</strong>
                 <p>ココナッツをふんだんに使用し、さっくり軽い食感に仕上げました。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie13.jpg') }}" alt=""></span>
                 <strong>きなこ</strong>
                 <p>きなこがクッキーをしっとりさせ、ピーカンナッツの食感が引き立ちます。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie14.jpg') }}" alt=""></span>
                 <strong>アーモンド</strong>
                 <p>アーモンドの香ばしさがどこか懐かしいクッキーです。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie15.jpg') }}" alt=""></span>
                 <strong>チョコチップ</strong>
                 <p>クッキーと相性のいいチョコを選びました！お子様の人気ＮＯ．１！！</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie16.jpg') }}" alt=""></span>
                 <strong>プレーン</strong>
                 <p>バターをしっかり使用したサブレタイプのクッキーです。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie17.jpg') }}" alt=""></span>
                 <strong>マカダ</strong>
                 <p>マカダミアナッツとバターの相性が最高のクッキーです。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie18.jpg') }}" alt=""></span>
                 <strong>コロンボ</strong>
                 <p>ビターなチョコクッキーに松の実のアクセントがやみつきです。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie23.jpg') }}" alt=""></span>
                 <strong>くるみ</strong>
                 <p>くるみの香ばしさを引き立たせるシンプルなサブレ。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie19.jpg') }}" alt=""></span>
                 <strong>シュタン</strong>
                 <p>香ばしいヘーゼルナッツに、バニラが香る口当たりの軽いクッキーです。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie20.jpg') }}" alt=""></span>
                 <strong>キャフェ</strong>
                 <p>挽いたコーヒー豆を生地に練り込んだコーヒーが香るクッキーです。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie21.jpg') }}" alt=""></span>
                 <strong>ジャン</strong>
                 <p>薄く軽いクッキー生地にナッツで作ったプラリネショコラを挟みました。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie22.jpg') }}" alt=""></span>
                 <strong>セサミ</strong>
                 <p>金・白・黒３種のごまを軽いクッキー生地にまぶしました。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie24.jpg') }}" alt=""></span>
                 <strong>チュイール</strong>
                 <p>卵白とナッツで作り上げたクッキー生地にプラリネショコラを挟みました。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie25.jpg') }}" alt=""></span>
                 <strong>フロラン</strong>
                 <p>オレンジ風味のキャラメルでコーティングしたアーモンド（スライス）とサブレの食感が抜群。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie26.jpg') }}" alt=""></span>
                 <strong>ガレット</strong>
                 <p>フランス語で「丸い薄いもの」という意味を持つ、卵とバターをきかせたシンプルなクッキー。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie27.jpg') }}" alt=""></span>
                 <strong>ヌス</strong>
                 <p>職人が丁寧にナッツを飴状になるまで煮詰め、厚めのクッキーに閉じ込めました。</p>
               </li>
               <li>
                 <span><img src="{{ asset('assets/img/cookie/cookie28.jpg') }}" alt=""></span>
                 <strong>リーフパイ</strong>
                 <p>フランス産の発酵バターを粉といっしょに練り込み、何度も何度も折り返し、手間ひまかけて仕上げました。</p>
               </li>
                 <li>
                   <span><img src="{{ asset('assets/img/cookie/cookie01.jpg') }}" alt=""></span>
                   <strong>コキラージュ</strong>
                   <p>「貝の形」という意味を持つ焼き菓子。素朴などこか懐かしいお菓子が、かわいらしく焼きあがりました。</p>
                 </li>
                 <li>
                     <span><img src="{{ asset('assets/img/cookie/cookie02.jpg') }}" alt=""></span>
                     <strong>マドレーヌ</strong>
                     <p>昔ながらの素朴なマドレーヌ。幼いころに食べた懐かしい味わいです。</p>
                   </li>
                  <li>
                   <span><img src="{{ asset('assets/img/cookie/cookie03.jpg') }}" alt=""></span>
                   <strong>昭和40年代<br class="nopc">マドレーヌ</strong>
                   <p>オーナーシェフ横川が幼いころに食べた「あの味」を再現しました。</p>
                 </li>
                 <li>
                   <span><img src="{{ asset('assets/img/cookie/cookie04.jpg') }}" alt=""></span>
                   <strong>フィナンシェ</strong>
                   <p>昔ながらの素朴なフィナンシェ。しっとりバターが香る、懐かしさとどこか特別な感じがする味わいです。</p>
                 </li>
                 <li>
                   <span><img src="{{ asset('assets/img/cookie/cookie05.jpg') }}" alt=""></span>
                   <strong>アナナス</strong>
                   <p>パイナップルの果肉とたっぷりのバターを使用した焼き菓子です。</p>
                 </li>
                 <li>
                   <span><img src="{{ asset('assets/img/cookie/cookie06.jpg') }}" alt=""></span>
                   <strong>フルーツ</strong>
                   <p>シロップ漬けした数種類のフルーツとほんのりスパイスの香る焼き菓子です。</p>
                 </li>
                 <li>
                   <span><img src="{{ asset('assets/img/cookie/cookie07.jpg') }}" alt=""></span>
                   <strong>プレミアムフィナンシェ　プレーン</strong>
                   <p>ラヴィエットバターをふんだんに使用した贅沢なフィナンシェです。</p>
                 </li>
                 <li>
                   <span><img src="{{ asset('assets/img/cookie/cookie08.jpg') }}" alt=""></span>
                   <strong>プレミアムフィナンシェ　ショコラ</strong>
                   <p>プレミアムと呼ぶにふさわしいコロンビア産チョコレートを使用したフィナンシェです。</p>
                 </li>
             </ul>
           </section><!-- .material_list -->
         </div><!-- .material_wrap -->
       </div><!-- .material -->
     </main>
   </div><!-- .contents -->
{% endblock %}