{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<ul class="app_bottom_navi">
	<li>
		<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_osirase"}) }}">
			<img src="/html/user_data/assets/img/app_icon/app_icon_info.png"><br>
			<span>お知らせ</span>
		</a>
	</li>
	<li>
		<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_mypage"}) }}">
			<img src="/html/user_data/assets/img/app_icon/app_icon_user.png"><br>
			<span>マイページ</span>
		</a>
	</li>
	<li class="app_licence_base">
		<div class="app_licence_mark">
			<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_customer_info"}) }}">
				<!--
				<img src="/html/user_data/assets/img/app_icon/app_icon_licence.png" style="width:40px; height:48px;"><br>
				<span>会員証</span>
				-->
				<i class="fa fa-address-card" aria-hidden="true" style="color:#fff; margin-top:9px;"><br><span style="font-size:14px; font-weight:normal;">会員証</span></i>
			</a>
		</div>
	</li>
	<li>
		<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_yoyaku"}) }}">
			<img src="/html/user_data/assets/img/app_icon/app_icon_yoyaku.png"><br>
			<span>ケーキ予約</span>
		</a>
		
	</li>
	<li>
		<a href="{{ url('homepage') }}user_data/app_top">
      		<img src="/html/user_data/assets/img/app_icon/app_icon_home.png"><br>
      		<span>公式サイト</span>
      	</a>
	</li>
</ul>