{% extends 'default_frame.twig' %}

{% block main %}
</td>
</tr>
</table>
</td>
</tr>
</table>

    <div class="contents">
      <main>
        <div class="news inner" style="padding-top:105px; padding-bottom:40%;">
          <div class="news_page_list">
          	<table border="0" cellpadding="0" cellspacing="0" width="100%">
          		<tbody>
          			
          			<tr bgcolor="#ffffff" height="25">
          				<td class="lims" width="80%">&nbsp;<a href="" style="padding-bottom:10px;"></a></td>
          				<td class="lims" align="center" width="20%"></td>
          			</tr>
          			<tr bgcolor="#ffffff" height="25">
          				<td class="lims" width="80%">&nbsp;<a href="" style="padding-bottom:10px; color:#A9A9A9;">—š—ğˆê——</a></td>
          				<td class="lims" align="center" width="20%"></td>
          			</tr>
          			
          			{% set ec_yoyaku = points['ec_yoyaku'] %}
          			{% set ec_online = points['ec_online'] %}
          			{% set app_birth = points['app_birth'] %}
          			{% set shop_honten = points['shop_honten'] %}
          			{% set shop_kishiwada = points['shop_kishiwada'] %}
          			{% set update_date = points['update_date'] %}
          			
      				<tr bgcolor="#ffffff" height="25">
          				<td class="lims" width="80%">&nbsp;<a href="" style="padding-bottom:0px; font-weight:bold;">“X“ª—\–ñ</a><br><a href="" style="padding-top:0px;">{{ update_date|date_day }}</a></td>
          				<td class="lims" align="center" width="20%" style="font-weight:bold;">{{ec_yoyaku}}pt</td>
          			</tr>
      				<tr bgcolor="#ffffff" height="25">
          				<td class="lims" width="80%">&nbsp;<a href="" style="padding-bottom:0px; font-weight:bold;">˜aò’†‰›“X‚Åw“ü</a><br><a href="" style="padding-top:0px;">{{ update_date|date_day }}</a></td>
          				<td class="lims" align="center" width="20%" style="font-weight:bold;">{{shop_honten}}pt</td>
          			</tr>
          			<tr bgcolor="#ffffff" height="25">
          				<td class="lims" width="80%">&nbsp;<a href="" style="padding-bottom:0px; font-weight:bold;">ƒIƒ“ƒ‰ƒCƒ“ƒVƒ‡ƒbƒv‚Åw“ü</a><br><a href="" style="padding-top:0px;">{{ update_date|date_day }}</a></td>
          				<td class="lims" align="center" width="20%" style="font-weight:bold;">{{ec_online}}pt</td>
          			</tr>
          			<tr bgcolor="#ffffff" height="25">
          				<td class="lims" width="80%">&nbsp;<a href="" style="padding-bottom:0px; font-weight:bold;">’a¶“úƒ|ƒCƒ“ƒg</a><br><a href="" style="padding-top:0px;">{{ update_date|date_day }}</a></td>
          				<td class="lims" align="center" width="20%" style="font-weight:bold;">{{app_birth}}pt</td>
          			</tr>
          			          			
          		</tbody>
          	</table>
          </div>
          
          
          <div class="pager">
          	<table border="0" cellpadding="0" cellspacing="0" width="368">
          		<tbody>
          			<tr>
          				<td class="line" height="10">&nbsp;</td>
          			</tr>
          			<tr>
          				<td align="center"></td>
          			</tr>
          		</tbody>
          	</table>
          </div><!-- .pager -->
        </div><!-- .news -->
      </main>
    </div>
    
{% endblock %}