{% extends 'default_frame.twig' %}

{% block main %}
</td>
</tr>
</table>
</td>
</tr>
</table>

    <div class="app_item_main app_toppage_item">
      <img src="/html/user_data/assets/img/app_topitem_jelly.png" alt="ゼリー・ソルベ">
    </div>
    
    
    <div class="contents">
      <main>
        <div class="news inner" style="padding-top:0px;">
          <div class="news_page_list">
          	<table border="0" cellpadding="0" cellspacing="0" width="100%">
          		<tbody>
          			
          			{% set NewsList = repository('Eccube\\Entity\\News').getList() %}
          			
          			<tr>
          				<td class="line" height="1" bgcolor="#dadada" colspan="2">&nbsp;</td>
          			</tr>
          			{% for News in NewsList %}
	          			<tr bgcolor="#ffffff" height="25">
	          				
	          				<div style="border-bottom:1px solid #ECECEC;">
		          				<div style="padding:10px; width:90%; float:left;">
		          					<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_osirase_detail"}) }}?id={{ News.id }}">
			          					<div style="">
			          						<span style="color:#A9A9A9;">{{ News.publish_date|date_day }}</span>
			          						{% if 'news' in News.url %}
			          						<span style="font-size:12px; color:#fff; height:70px; width:500px; padding: 2px 6px; border-radius:10px; border:1px solid; border-color:#da847e; background:#da847e;">
			          							NEWS
			          						</span>
			          						{% elseif 'event' in News.url %}
			          						<span style="font-size:12px; color:#fff; height:70px; width:500px; padding: 2px 6px; border-radius:10px; border:1px solid; border-color:#8cc4e8; background:#8cc4e8;">
			          							イベント
			          						</span>
			          						{% elseif 'info' in News.url %}
			          						<span style="font-size:12px; color:#fff; height:70px; width:500px; padding: 2px 6px; border-radius:10px; border:1px solid; border-color:#c4ac9c; background:#c4ac9c;">
			          							お知らせ
			          						</span>
			          						{% endif %}
			          					</div>
			          					<div style="font-weight: bold;">
				          					{{ News.title }}
				          				</div>
				          				
			          				</a>
		          				</div>
		          				<div style="float:left; padding-top:30px;">
	      							<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_osirase_detail"}) }}?id={{ News.id }}">
	      								<div class="arrow_right"></div>
	      							</a>
	      						</div>
	      						<div style="clear:both;">
	          				</div>
	          			</tr>
          			{% endfor %}
          			
          		</tbody>
          	</table>
          </div><!-- .news_page_list-->
        </div><!-- .news -->
      </main>
    </div>
    
{% endblock %}