{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set NewsList = repository('Eccube\\Entity\\News').getList() %}


<div class="ec-role">
    <div class="ec-newsRole">
    
        <h2 class="title"><strong class="agp">NEWS</strong></h2>
        <div class="ec-newsRole__news">
            {% for News in NewsList %}
                <div class="ec-newsRole__newsItem">
                    <div class="ec-newsRole__newsHeading">
                        <div class="ec-newsRole__newsDate">
                            [{{ News.publish_date|date_day }}]
                        </div>
                        <div class="ec-newsRole__newsColumn">
                            <div class="ec-newsRole__newsTitle">
                              <a style="color:#000;" href="{{ url(eccube_config.eccube_user_data_route, {"route": "osirase_detail"}) }}?id={{ News.id }}">
                                {{ News.title }}
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>
</div>

<div class="ec-topicRole" style="padding-top:0px; padding-bottom:0px;">
    <div class="ec-role">

        <div class="ec-topicRole__list">
            
            <div class="ec-topicRole__listItem">
                <a href="https://t-yokogawa.com/entry">
                    <img src="/html/user_data/assets/img/common/banner_02.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>


<div class="ec-newItemRole" style="padding-top:20px; padding-bottom:100px;">
	<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "osirase"}) }}" class="btn agp">ÉjÉÖÅ[ÉXàÍóó</a>
</div>