{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block javascript %}
    <script>
        eccube.productsClassCategories = {
            {% for Product in pagination %}
            "{{ Product.id|escape('js') }}": {{ class_categories_as_json(Product)|raw }}{% if loop.last == false %}, {% endif %}
            {% endfor %}
        };

        $(function() {

            // 表示件数を変更
            $('.disp-number').change(function() {
                var dispNumber = $(this).val();
                $('#disp_number').val(dispNumber);
                $('#pageno').val(1);
                $("#form1").submit();
            });

            // 並び順を変更
            $('.order-by').change(function() {
                var orderBy = $(this).val();
                $('#orderby').val(orderBy);
                $('#pageno').val(1);
                $("#form1").submit();
            });

            $('.add-cart').on('click', function(e) {
                var $form = $(this).parents('li').find('form');

                // 個数フォームのチェック
                var $quantity = $form.parent().find('.quantity');
                if ($quantity.val() < 1) {
                    $quantity[0].setCustomValidity('{{ '1以上で入力してください。'|trans }}');
                    setTimeout(function() {
                        loadingOverlay('hide');
                    }, 100);
                    return true;
                } else {
                    $quantity[0].setCustomValidity('');
                }
                e.preventDefault();
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        // Buttonを無効にする
                        $('.add-cart').prop('disabled', true);
                    }
                }).done(function(data) {
                    // レスポンス内のメッセージをalertで表示
                    $.each(data.messages, function() {
                        $('#ec-modal-header').html(this);
                    });

                    $('.ec-modal').show()

                    // カートブロックを更新する
                    $.ajax({
                        url: '{{ url('block_cart') }}',
                        type: 'GET',
                        dataType: 'html'
                    }).done(function(html) {
                        $('.ec-headerRole__cart').html(html);
                    });
                }).fail(function(data) {
                    alert('{{ 'カートへの追加に失敗しました。'|trans }}');
                }).always(function(data) {
                    // Buttonを有効にする
                    $('.add-cart').prop('disabled', false);
                });
            });
        });

        $('.ec-modal-overlay, .ec-modal .ec-inlineBtn--cancel').on('click', function() {
            $('.ec-modal').hide()
        });
    </script>
{% endblock %}

{% block main %}
    {% if search_form.category_id.vars.errors|length > 0 %}
        <div class="ec-searchnavRole">
            <p class="errormsg text-danger">{{ 'ご指定のカテゴリは存在しません'|trans }}</p>
        </div>
    {% else %}
        <div class="ec-searchnavRole">
            <form name="form1" id="form1" method="get" action="?">
                {% for item in search_form %}
                    <input type="hidden" id="{{ item.vars.id }}"
                           name="{{ item.vars.full_name }}"
                           {% if item.vars.value is not empty %}value="{{ item.vars.value }}" {% endif %}/>
                {% endfor %}
            </form>
            <div class="ec-searchnavRole__topicpath">
                <ol class="ec-topicpath" style="color:#000; letter-spacing: 0;">
                    <!-- 非表示
                    <li class="ec-topicpath__item"><a href="{{ url('product_list') }}">{{ '全て'|trans }}</a>
                    </li>
                    -->

                    {% set cate_type = '' %}

                    {% if Category is not null %}

                        {% for Path in Category.path %}

                            <!--
					          カテゴリ写真用のパス一覧
					          ※画像はファイル管理で登録されているものを指定してください
					        -->

                            <!-- カテゴリ画像を表示する -->
                            <!--  デコレーション  -->
                            {% set image_pass = '' %}
                            {% if 'ケーキ' in Path.name %}
                            	{% set image_pass = '/html/user_data/assets/img/category/CODE0000000002_deco.gif' %}
                            	{% set cate_type = Path.name %}
                            {% endif %}
                            {% if '冷凍商品' in Path.name %}
                            	{% set image_pass = '/html/user_data/assets/img/category/CODE0000000009_youreizoukasi.gif' %}
                            	{% set cate_type = Path.name %}
                            {% endif %}
                            {% if 'ギフト' in Path.name %}
                            	{% set image_pass = '/html/user_data/assets/img/category/CODE0000000007_paundocake.gif' %}
                            	{% set cate_type = Path.name %}
                            {% endif %}
                            {% if '単品' in Path.name %}
                            	{% set image_pass = '/html/user_data/assets/img/main/item/bakegoods.jpg' %}
                            	{% set cate_type = Path.name %}
                            {% endif %}
                            {% if 'コンフィチュール' in Path.name %}
                            	{% set image_pass = '/html/user_data/assets/img/category/CODE0000000010_conficyuru.gif' %}
                            	{% set cate_type = Path.name %}
                            {% endif %}
                            {% if 'チョコレート' in Path.name %}
                            	{% set image_pass = '/html/user_data/assets/img/main/chocolate.jpg' %}
                            	{% set cate_type = Path.name %}
                            {% endif %}
                            {% if '今月のおすすめ' in Path.name %}
                            	{% set image_pass = '/html/user_data/assets/img/category/CODE0000000062_season.jpg' %}
                            	{% set cate_type = Path.name %}
                            {% endif %}
                            <!-- パウンドケーキは「ケーキ」特別するためID指定する -->
                            {% if Path.id == 115 %}
                            	{% set image_pass = '/html/user_data/assets/img/main/item/pound-cake.jpg' %}
                            	{% set cate_type = 'pound' %}
                            {% endif %}
                             {% if 'マドレーヌ・フィナンシェ' in Path.name %}
                            	{% set image_pass = '/html/user_data/assets/img/main/item/madeleine-financie.jpg' %}
                            	{% set cate_type = Path.name %}
                            {% endif %}
                              {% if 'こどもの日' in Path.name %}
                            	{% set image_pass = '/html/user_data/assets/img/main/item/kids.png' %}
                            	{% set cate_type = Path.name %}
                            {% endif %}
                             {% if '母の日' in Path.name %}
                            	{% set image_pass = '/html/user_data/assets/img/main/item/mother.png' %}
                            	{% set cate_type = Path.name %}
                            {% endif %}
                             {% if 'ゼリー・ソルベ' in Path.name %}
                            	{% set image_pass = '/html/user_data/assets/img/main/item/summer.jpg' %}
                            	{% set cate_type = Path.name %}
                            {% endif %}
                             {% if '父の日' in Path.name %}
                            	{% set image_pass = '/html/user_data/assets/img/main/item/father.jpg' %}
                            	{% set cate_type = Path.name %}
                            {% endif %}


                            <!-- 画像表示 -->
                            {% if image_pass != '' %}
                            <div class="item_main">
                            	<img src="{{image_pass}}" alt="">
                            </div>
                            {% endif %}

                            <!-- カテゴリ名を表示する -->
	                        <h1 class="small_title">
	                        	<strong>{{ Path.name }}</strong>
	                        	{% if 'ケーキ' in Path.name %}
                            		<span class="">Cake</span>
	                            {% endif %}
	                            {% if '冷凍商品' in Path.name %}
	                            	<span class="">Ice items</span>
	                            {% endif %}
	                            {% if 'ギフト' in Path.name %}
	                            	<span class="">Gift<br><br><span style="color: red;">4月20日から11月末まで　配送時の気温が高温となるため、<br class="nosp">全商品（※一部対象外商品のぞく）クール便にてお送りしております。</span></span>
	                            {% endif %}
	                            {% if '単品' in Path.name %}
	                            	<span class="">Single<br><br>単品商品はお買い上げ量にあった袋・ケーキ箱におまとめ入れにて発送いたします。<br>ラッピングのご指定などの対応は致しかねますので予めご了承くださいませ。<br><br><span style="color: red;">4月20日から11月末まで　配送時の気温が高温となるため、<br class="nosp">全商品（※一部対象外商品のぞく）クール便にてお送りしております。</span></span>
	                            {% endif %}
	                            {% if 'コンフィチュール' in Path.name %}
	                            	<span class="">Confiture</span>
	                            {% endif %}
	                            {% if 'チョコレート' in Path.name %}
	                            	<span class="">Chocolate<br><br><span style="color: red;">4月20日から11月末まで　配送時の気温が高温となるため、<br class="nosp">全商品（※一部対象外商品のぞく）クール便にてお送りしております。</span></span>
	                            {% endif %}
	                            {% if '今月のおすすめ' in Path.name %}
	                            	<span class="">Recommended<br><br><span style="color: red;">4月20日から11月末まで　配送時の気温が高温となるため、<br class="nosp">全商品（※一部対象外商品のぞく）クール便にてお送りしております。</span></span>
	                            {% endif %}
	                            {% if 'こどもの日' in Path.name %}
	                            	<span class="">Kids Festival</span>
	                            {% endif %}
	                            {% if '母の日' in Path.name %}
	                            	<span class="">Mother's Festival</span>
	                            {% endif %}
	                            {% if '父の日' in Path.name %}
	                            	<span class="">Father's Festival</span>
	                            {% endif %}
	                        </h1>

                        {% endfor %}

                    {% endif %}

                    {% if search_form.vars.value and search_form.vars.value.name %}
                        <li class="ec-topicpath__divider"></li>
                        <li class="ec-topicpath__item">{{ '「%name%」の検索結果'|trans({ '%name%': search_form.vars.value.name }) }}</li>
                    {% endif %}
                </ol>
            </div>

            <div class="ec-searchnavRole__infos" style="display:none;">
                <div class="ec-searchnavRole__counter">
                    <span></span>
                </div>
                {% if pagination.totalItemCount > 0 %}
                    <div class="ec-searchnavRole__actions">
                        <div class="ec-select">
                            <span>表示件数: </span>{{ form_widget(disp_number_form, {'id': '', 'attr': {'class': 'disp-number'}}) }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if pagination.totalItemCount > 0 %}

        	<!-- カテゴリ：ケーキの場合 -->
            {% if 'ケーキ' in cate_type %}
	            <div class="ec-shelfRole">
		            <!-- デコレーションの場合 -->
		            <div style="background-color:lightblue; font-size:18px;">
		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
		            		<b>デコレーション</b>
		            	</div>
		            </div>
	                <ul class="ec-shelfGrid">
	                    {% for Product in pagination %}

	                        {% for p_cat in Product.getProductCategories() %}
	                        	{% if 'デコレーション' in p_cat.Category.name %}
				            		<li class="ec-shelfGrid__item">
			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
			                                <p class="ec-shelfGrid__item-image">
			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
			                                </p>
			                                <p>{{ Product.name }}</p>
			                            </a>
			                        </li>
				                {% endif %}
			                {% endfor %}

	                    {% endfor %}
	                </ul>
	            </div>

                <div class="ec-shelfRole">
                  <!-- ロールケーキの場合 -->
                  <div style="background-color:lightblue; font-size:18px;">
                    <div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                      <b>ロールケーキ</b>
                    </div>
                  </div>
                    <ul class="ec-shelfGrid">
                        {% for Product in pagination %}

                            {% for p_cat in Product.getProductCategories() %}
                              {% if 'ロールケーキ' in p_cat.Category.name %}
                          <li class="ec-shelfGrid__item">
                                    <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                        <p class="ec-shelfGrid__item-image">
                                            <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                                        </p>
                                        <p>{{ Product.name }}</p>
                                    </a>
                                </li>
                          {% endif %}
                        {% endfor %}

                        {% endfor %}
                    </ul>
                </div>
                  <div class="ec-shelfRole">
  		            <!-- カットケーキの場合 -->
  		            <div style="background-color:lightblue; font-size:18px;">
  		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
  		            		<b>カットケーキ</b>
  		            	</div>
  		            </div>
  	                <ul class="ec-shelfGrid">
  	                    {% for Product in pagination %}

  	                        {% for p_cat in Product.getProductCategories() %}
  	                        	{% if 'カットケーキ' in p_cat.Category.name %}
  				            		<li class="ec-shelfGrid__item">
  			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
  			                                <p class="ec-shelfGrid__item-image">
  			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
  			                                </p>
  			                                <p>{{ Product.name }}</p>
  			                            </a>
  			                        </li>
  				                {% endif %}
  			                {% endfor %}

  	                    {% endfor %}
  	                </ul>
  	            </div>


                            <!-- カテゴリ：ギフトの場合 -->
                            {% elseif 'ギフト' in cate_type %}

                            <div class="ec-shelfRole">
                              <!-- オリジナルの場合 -->
                              <div style="background-color:lightblue; font-size:18px;">
                                <div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                                  <b>オリジナル</b>
                                </div>
                              </div><br>
                                <ul class="ec-shelfGrid">
                                    {% for Product in pagination %}

                                        {% for p_cat in Product.getProductCategories() %}
                                          {% if p_cat.Category.id == 76 %}
                                      <li class="ec-shelfGrid__item">
                                                <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                                    <p class="ec-shelfGrid__item-image">
                                                        <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                                                    </p>
                                                    <p>{{ Product.name }}</p>
                                                </a>
                                            </li>
                                      {% endif %}
                                    {% endfor %}

                                    {% endfor %}
                                </ul>
                            </div>

                                <div class="ec-shelfRole">
                		            <!--バラエティーギフトの場合 -->
                                <div style="background-color:lightblue; font-size:18px;">
                                  <div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                                    <b>バラエティーギフト</b>
                                  </div>
                                </div>
                	                <ul class="ec-shelfGrid">
                	                    {% for Product in pagination %}

                	                        {% for p_cat in Product.getProductCategories() %}
                	                        	{% if p_cat.Category.id == 77 %}
                				            		<li class="ec-shelfGrid__item">
                			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                			                                <p class="ec-shelfGrid__item-image">
                			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                			                                </p>
                			                                <p>{{ Product.name }}</p>
                			                            </a>
                			                        </li>
                				                {% endif %}
                			                {% endfor %}

                	                    {% endfor %}
                	                </ul>
                	            </div>
                	            <div class="ec-shelfRole">
                		            <!-- パウンドケーキの場合 -->
                		            <div style="background-color:lightblue; font-size:18px;">
                		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                		            		<b>パウンドケーキ</b>
                		            	</div>
                		            </div>
                	                <ul class="ec-shelfGrid">
                	                    {% for Product in pagination %}

                	                        {% for p_cat in Product.getProductCategories() %}
                	                        	{% if p_cat.Category.id == 78 %}
                				            		<li class="ec-shelfGrid__item">
                			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                			                                <p class="ec-shelfGrid__item-image">
                			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                			                                </p>
                			                                <p>{{ Product.name }}</p>
                			                            </a>
                			                        </li>
                				                {% endif %}
                			                {% endfor %}

                	                    {% endfor %}
                	                </ul>
                	            </div>
                	            <div class="ec-shelfRole">
                		            <!-- ドーナッツの場合 -->
                		            <div style="background-color:lightblue; font-size:18px;">
                		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                		            		<b>ドーナッツ</b>
                		            	</div>
                		            </div>
                	                <ul class="ec-shelfGrid">
                	                    {% for Product in pagination %}

                	                        {% for p_cat in Product.getProductCategories() %}
                	                        	{% if p_cat.Category.id == 79 %}
                				            		<li class="ec-shelfGrid__item">
                			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                			                                <p class="ec-shelfGrid__item-image">
                			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                			                                </p>
                			                                <p>{{ Product.name }}</p>
                			                            </a>
                			                        </li>
                				                {% endif %}
                			                {% endfor %}

                	                    {% endfor %}
                	                </ul>
                	            </div>

                	            <div class="ec-shelfRole">
                		            <!-- 冷凍商品の場合 -->
                		            <div style="background-color:lightblue; font-size:18px;">
                		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                		            		<b>冷凍商品</b>
                		            	</div>
                		            </div>
                	                <ul class="ec-shelfGrid">
                	                    {% for Product in pagination %}

                	                        {% for p_cat in Product.getProductCategories() %}
                	                        	{% if p_cat.Category.id == 81 %}
                				            		<li class="ec-shelfGrid__item">
                			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                			                                <p class="ec-shelfGrid__item-image">
                			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                			                                </p>
                			                                <p>{{ Product.name }}</p>
                			                            </a>
                			                        </li>
                				                {% endif %}
                			                {% endfor %}

                	                    {% endfor %}
                	                </ul>
                	            </div>



                                          <!-- カテゴリ：単品の場合 -->
                                          {% elseif '単品' in cate_type %}

                                                          	            <div class="ec-shelfRole">
                                                          		            <!-- おすすめの場合 -->
                                                          		            <div style="background-color:lightblue; font-size:18px;">
                                                          		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                                                          		            		<b>おすすめ商品</b>
                                                          		            	</div>
                                                          		            </div><br>
                                                          	                <ul class="ec-shelfGrid">
                                                          	                    {% for Product in pagination %}

                                                          	                        {% for p_cat in Product.getProductCategories() %}
                                                          	                        	{% if p_cat.Category.id == 83 %}
                                                          				            		<li class="ec-shelfGrid__item">
                                                          			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                                          			                                <p class="ec-shelfGrid__item-image">
                                                          			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                                                          			                                </p>
                                                          			                                <p>{{ Product.name }}</p>
                                                          			                            </a>
                                                          			                        </li>
                                                          				                {% endif %}
                                                          			                {% endfor %}

                                                          	                    {% endfor %}
                                                          	                </ul>
                                                          	            </div>

                                              <div class="ec-shelfRole">
                              		            <!--定番し無し場合 -->
                              		            <div style="background-color:lightblue; font-size:18px;">
                              		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                              		            		<b>クッキー</b>
                              		            	</div>
                              		            </div>
                              	                <ul class="ec-shelfGrid">
                              	                    {% for Product in pagination %}

                              	                        {% for p_cat in Product.getProductCategories() %}
                              	                        	{% if p_cat.Category.id == 84 %}
                              				            		<li class="ec-shelfGrid__item">
                              			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                              			                                <p class="ec-shelfGrid__item-image">
                              			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                              			                                </p>
                              			                                <p>{{ Product.name }}</p>
                              			                            </a>
                              			                        </li>
                              				                {% endif %}
                              			                {% endfor %}

                              	                    {% endfor %}
                              	                </ul>
                              	            </div>
                              	            <div class="ec-shelfRole">
                              		            <!-- パウンドケーキの場合 -->
                              		            <div style="background-color:lightblue; font-size:18px;">
                              		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                              		            		<b>焼菓子</b>
                              		            	</div>
                              		            </div>
                              	                <ul class="ec-shelfGrid">
                              	                    {% for Product in pagination %}

                              	                        {% for p_cat in Product.getProductCategories() %}
                              	                        	{% if p_cat.Category.id == 85 %}
                              				            		<li class="ec-shelfGrid__item">
                              			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                              			                                <p class="ec-shelfGrid__item-image">
                              			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                              			                                </p>
                              			                                <p>{{ Product.name }}</p>
                              			                            </a>
                              			                        </li>
                              				                {% endif %}
                              			                {% endfor %}

                              	                    {% endfor %}
                              	                </ul>
                              	            </div>
                              	            <div class="ec-shelfRole">
                              		            <!-- マカロンの場合 -->
                              		            <div style="background-color:lightblue; font-size:18px;">
                              		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                              		            		<b>マカロン</b>
                              		            	</div>
                              		            </div>
                              	                <ul class="ec-shelfGrid">
                              	                    {% for Product in pagination %}

                              	                        {% for p_cat in Product.getProductCategories() %}
                              	                        	{% if p_cat.Category.id == 89 %}
                              				            		<li class="ec-shelfGrid__item">
                              			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                              			                                <p class="ec-shelfGrid__item-image">
                              			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                              			                                </p>
                              			                                <p>{{ Product.name }}</p>
                              			                            </a>
                              			                        </li>
                              				                {% endif %}
                              			                {% endfor %}

                              	                    {% endfor %}
                              	                </ul>
                              	            </div>

                                            <div class="ec-shelfRole">
                                              <!-- ドーナッツの場合 -->
                                              <div style="background-color:lightblue; font-size:18px;">
                                                <div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                                                  <b>ドーナッツ</b>
                                                </div>
                                              </div>
                                                <ul class="ec-shelfGrid">
                                                    {% for Product in pagination %}

                                                        {% for p_cat in Product.getProductCategories() %}
                                                          {% if p_cat.Category.id == 86 %}
                                                      <li class="ec-shelfGrid__item">
                                                                <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                                                    <p class="ec-shelfGrid__item-image">
                                                                        <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                                                                    </p>
                                                                    <p>{{ Product.name }}</p>
                                                                </a>
                                                            </li>
                                                      {% endif %}
                                                    {% endfor %}

                                                    {% endfor %}
                                                </ul>
                                            </div>







            <!-- カテゴリ：クッキーの場合 -->
            {% elseif 'クッキー' in cate_type %}
                <div class="ec-shelfRole">
		            <!-- 単品の場合 -->
		            <div style="background-color:lightblue; font-size:18px;">
		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
		            		<b>単品</b>
		            	</div>
		            </div>
	                <ul class="ec-shelfGrid">
	                    {% for Product in pagination %}

	                        {% for p_cat in Product.getProductCategories() %}
	                        	{% if p_cat.Category.id == 110 %}
				            		<li class="ec-shelfGrid__item">
			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
			                                <p class="ec-shelfGrid__item-image">
			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
			                                </p>
			                                <p>{{ Product.name }}</p>
			                            </a>
			                        </li>
				                {% endif %}
			                {% endfor %}

	                    {% endfor %}
	                </ul>
	            </div>
	            <div class="ec-shelfRole">
		            <!-- ギフトの場合 -->
		            <div style="background-color:lightblue; font-size:18px;">
		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
		            		<b>ギフト</b>
		            	</div>
		            </div>
	                <ul class="ec-shelfGrid">
	                    {% for Product in pagination %}

	                        {% for p_cat in Product.getProductCategories() %}
	                        	{% if p_cat.Category.id == 111 %}
				            		<li class="ec-shelfGrid__item">
			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
			                                <p class="ec-shelfGrid__item-image">
			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
			                                </p>
			                                <p>{{ Product.name }}</p>
			                            </a>
			                        </li>
				                {% endif %}
			                {% endfor %}

	                    {% endfor %}
	                </ul>
	            </div>
              <!-- カテゴリ：今月のおすすめの場合 -->
              {% elseif '今月のおすすめ' in cate_type %}
                  <div class="ec-shelfRole">
                  <!-- 単品の場合 -->
                  <div style="background-color:lightblue; font-size:18px;">
                    <div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                      <b>夏</b>
                    </div>
                  </div>
                  <br>
                    <ul class="ec-shelfGrid">
                        {% for Product in pagination %}

                            {% for p_cat in Product.getProductCategories() %}
                              {% if p_cat.Category.id == 66 %}
                          <li class="ec-shelfGrid__item">
                                    <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                        <p class="ec-shelfGrid__item-image">
                                            <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                                        </p>
                                        <p>{{ Product.name }}</p>
                                    </a>
                                </li>
                          {% endif %}
                        {% endfor %}

                        {% endfor %}
                    </ul>
                </div>
                <div class="ec-shelfRole">
                  <!-- 秋冬の場合 -->
                  <div style="background-color:lightblue; font-size:18px;">
                    <div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                      <b>秋冬</b>
                    </div>
                  </div>
                    <ul class="ec-shelfGrid">
                        {% for Product in pagination %}

                            {% for p_cat in Product.getProductCategories() %}
                              {% if p_cat.Category.id == 64 %}
                          <li class="ec-shelfGrid__item">
                                    <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                        <p class="ec-shelfGrid__item-image">
                                            <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                                        </p>
                                        <p>{{ Product.name }}</p>
                                    </a>
                                </li>
                          {% endif %}
                        {% endfor %}

                        {% endfor %}
                    </ul>
                </div>
                <div class="ec-shelfRole">
                  <!-- 春の場合 -->
                  <div style="background-color:lightblue; font-size:18px;">
                    <div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                      <b>春</b>
                    </div>
                  </div>
                    <ul class="ec-shelfGrid">
                        {% for Product in pagination %}

                            {% for p_cat in Product.getProductCategories() %}
                              {% if p_cat.Category.id == 65 %}
                          <li class="ec-shelfGrid__item">
                                    <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                        <p class="ec-shelfGrid__item-image">
                                            <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                                        </p>
                                        <p>{{ Product.name }}</p>
                                    </a>
                                </li>
                          {% endif %}
                        {% endfor %}

                        {% endfor %}
                    </ul>
                </div>

                            <!-- カテゴリ：冷凍商品の場合 -->
                            {% elseif '冷凍商品' in cate_type %}
                                <div class="ec-shelfRole">
                		            <!-- ギフトの場合 -->
                		            <div style="background-color:lightblue; font-size:18px;">
                		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                		            		<b>ギフト</b>
                		            	</div>
                		            </div>
                	                <ul class="ec-shelfGrid">
                	                    {% for Product in pagination %}

                	                        {% for p_cat in Product.getProductCategories() %}
                	                        	{% if p_cat.Category.id == 126 %}
                				            		<li class="ec-shelfGrid__item">
                			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                			                                <p class="ec-shelfGrid__item-image">
                			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                			                                </p>
                			                                <p>{{ Product.name }}</p>
                			                            </a>
                			                        </li>
                				                {% endif %}
                			                {% endfor %}

                	                    {% endfor %}
                	                </ul>
                	            </div>
                	            <div class="ec-shelfRole">
                		            <!-- 単品の場合 -->
                		            <div style="background-color:lightblue; font-size:18px;">
                		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
                		            		<b>単品</b>
                		            	</div>
                		            </div>
                	                <ul class="ec-shelfGrid">
                	                    {% for Product in pagination %}

                	                        {% for p_cat in Product.getProductCategories() %}
                	                        	{% if p_cat.Category.id == 127 %}
                				            		<li class="ec-shelfGrid__item">
                			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                			                                <p class="ec-shelfGrid__item-image">
                			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                			                                </p>
                			                                <p>{{ Product.name }}</p>
                			                            </a>
                			                        </li>
                				                {% endif %}
                			                {% endfor %}

                	                    {% endfor %}
                	                </ul>
                	            </div>




              <!-- カテゴリ：ドーナツ・カステラの場合 -->
              {% elseif 'ギフト' in cate_type %}
                  <div class="ec-shelfRole">
  		            <!-- 単品の場合 -->
  		            <div style="background-color:lightblue; font-size:18px;">
  		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
  		            		<b>ギフト</b>
  		            	</div>
  		            </div>
  	                <ul class="ec-shelfGrid">
  	                    {% for Product in pagination %}

  	                        {% for p_cat in Product.getProductCategories() %}
  	                        	{% if p_cat.Category.id == 80 %}
  				            		<li class="ec-shelfGrid__item">
  			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
  			                                <p class="ec-shelfGrid__item-image">
  			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
  			                                </p>
  			                                <p>{{ Product.name }}</p>
  			                            </a>
  			                        </li>
  				                {% endif %}
  			                {% endfor %}

  	                    {% endfor %}
  	                </ul>
  	            </div>
  	            <div class="ec-shelfRole">
  		            <!-- ギフトの場合 -->
  		            <div style="background-color:lightblue; font-size:18px;">
  		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
  		            		<b>単品</b>
  		            	</div>
  		            </div>
  	                <ul class="ec-shelfGrid">
  	                    {% for Product in pagination %}

  	                        {% for p_cat in Product.getProductCategories() %}
  	                        	{% if p_cat.Category.id == 90 %}
  				            		<li class="ec-shelfGrid__item">
  			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
  			                                <p class="ec-shelfGrid__item-image">
  			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
  			                                </p>
  			                                <p>{{ Product.name }}</p>
  			                            </a>
  			                        </li>
  				                {% endif %}
  			                {% endfor %}

  	                    {% endfor %}
  	                </ul>
  	            </div>




            <!-- カテゴリ：パウンドケーキの場合 -->
            {% elseif cate_type == 'pound' %}
                <div class="ec-shelfRole">
		            <!-- 単品の場合 -->
		            <div style="background-color:lightblue; font-size:18px;">

		            </div>
	                <ul class="ec-shelfGrid">
	                    {% for Product in pagination %}

	                        {% for p_cat in Product.getProductCategories() %}
	                        	{% if p_cat.Category.id == 116 %}
				            		<li class="ec-shelfGrid__item">
			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
			                                <p class="ec-shelfGrid__item-image">
			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
			                                </p>
			                                <p>{{ Product.name }}</p>
			                            </a>
			                        </li>
				                {% endif %}
			                {% endfor %}

	                    {% endfor %}
	                </ul>
	            </div>

            <!-- カテゴリ：マドレーヌ・フィナンシェの場合 -->
            {% elseif 'マドレーヌ・フィナンシェ' in cate_type %}
                <div class="ec-shelfRole">
		            <!-- 単品の場合 -->
		            <div style="background-color:lightblue; font-size:18px;">
		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
		            		<b>単品</b>
		            	</div>
		            </div>
	                <ul class="ec-shelfGrid">
	                    {% for Product in pagination %}

	                        {% for p_cat in Product.getProductCategories() %}
	                        	{% if p_cat.Category.id == 113 %}
				            		<li class="ec-shelfGrid__item">
			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
			                                <p class="ec-shelfGrid__item-image">
			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
			                                </p>
			                                <p>{{ Product.name }}</p>
			                            </a>
			                        </li>
				                {% endif %}
			                {% endfor %}

	                    {% endfor %}
	                </ul>
	            </div>
	            <div class="ec-shelfRole">
		            <!-- ギフトの場合 -->
		            <div style="background-color:lightblue; font-size:18px;">
		            	<div class="" style="width:100%; padding:10px; font-weight:bold; text-align:center;">
		            		<b>ギフト</b>
		            	</div>
		            </div>
	                <ul class="ec-shelfGrid">
	                    {% for Product in pagination %}

	                        {% for p_cat in Product.getProductCategories() %}
	                        	{% if p_cat.Category.id == 114 %}
				            		<li class="ec-shelfGrid__item">
			                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
			                                <p class="ec-shelfGrid__item-image">
			                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
			                                </p>
			                                <p>{{ Product.name }}</p>
			                            </a>
			                        </li>
				                {% endif %}
			                {% endfor %}

	                    {% endfor %}
	                </ul>
	            </div>

              <!-- カテゴリ：父の日の場合 -->
              {% elseif '父の日' in cate_type %}
                  <div class="ec-shelfRole">
                    <ul class="ec-shelfGrid">
                        {% for Product in pagination %}

                            {% for p_cat in Product.getProductCategories() %}
                              {% if p_cat.Category.id == 136 %}
                                 <li class="ec-shelfGrid__item">
                                    <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                        <p class="ec-shelfGrid__item-image">
                                            <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                                        </p>
                                        <p>{{ Product.name }}</p>
                                    </a>
                                    
                                    
                                {% if Product.stock_find %}
                                    {% set form = forms[Product.id] %}
                                    <form name="form{{ Product.id }}" id="productForm{{ Product.id }}" action="{{ url('product_add_cart', {id:Product.id}) }}" method="post">
                                        <div class="ec-productRole__actions">
                                            {% if form.classcategory_id1 is defined %}
                                                <div class="ec-select">
                                                    {{ form_widget(form.classcategory_id1) }}
                                                    {{ form_errors(form.classcategory_id1) }}
                                                </div>
                                                {% if form.classcategory_id2 is defined %}
                                                    <div class="ec-select">
                                                        {{ form_widget(form.classcategory_id2) }}
                                                        {{ form_errors(form.classcategory_id2) }}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        <div class="ec-numberInput"><span>{{ '数量'|trans }}</span>
                                            {{ form_widget(form.quantity, {'attr': {'class': 'quantity'}}) }}
                                            {{ form_errors(form.quantity) }}
                                        </div>
                                        </div>
                                        
                                        {{ form_rest(form) }} 
                                        
                                    </form>
                                    <div class="ec-productRole__btn">
                                        <button type="submit" class="ec-blockBtn--action add-cart" data-cartid="{{ Product.id }}" form="productForm{{ Product.id }}">
                                            {{ 'カートに入れる'|trans }}
                                        </button>
                                    </div>
                                {% else %}
                                    <div class="ec-productRole__btn">
                                        <button type="button" class="ec-blockBtn--action" disabled="disabled">
                                            {{ 'ただいま品切れ中です。'|trans }}
                                        </button>
                                    </div>
                                {% endif %}
                                </li>
                              {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
              <!-- カテゴリ：母の日の場合 -->

              <!-- カテゴリ：こどもの日の場合 -->
              {% elseif 'こどもの日' in cate_type %}
                  <div class="ec-shelfRole">
                    <ul class="ec-shelfGrid">
                        {% for Product in pagination %}

                            {% for p_cat in Product.getProductCategories() %}
                              {% if p_cat.Category.id == 129 %}
                          <li class="ec-shelfGrid__item">
                                    <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                        <p class="ec-shelfGrid__item-image">
                                            <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                                        </p>
                                        <p>{{ Product.name }}</p>
                                    </a>
                                </li>
                          {% endif %}
                        {% endfor %}

                        {% endfor %}
                    </ul>
                </div>
              <!-- カテゴリ：母の日の場合 -->
              {% elseif '母の日' in cate_type %}
                  <div class="ec-shelfRole">
                    <ul class="ec-shelfGrid">
                        {% for Product in pagination %}

                            {% for p_cat in Product.getProductCategories() %}
                              {% if p_cat.Category.id == 131 %}
                          <li class="ec-shelfGrid__item">
                                    <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                        <p class="ec-shelfGrid__item-image">
                                            <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                                        </p>
                                        <p>{{ Product.name }}</p>
                                    </a>
                                </li>
                          {% endif %}
                        {% endfor %}

                        {% endfor %}
                    </ul>
                </div>

            {% else %}
            	<!-- 上記以外の場合 -->
            	<div class="ec-shelfRole">
		            <ul class="ec-shelfGrid">
	                    {% for Product in pagination %}
	                        <li class="ec-shelfGrid__item">
	                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
	                                <p class="ec-shelfGrid__item-image">
	                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
	                                </p>
	                                <p>{{ Product.name }}</p>
	                            </a>
	                        </li>
	                    {% endfor %}
	                </ul>
	            </div>
            {% endif %}

            <div class="ec-modal">
                <div class="ec-modal-overlay">
                    <div class="ec-modal-wrap">
                        <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                        <div id="ec-modal-header" class="text-center">{{ 'カートに追加しました。'|trans }}</div>
                        <div class="ec-modal-box">
                            <div class="ec-role">
                                <span class="ec-inlineBtn--cancel">{{ 'お買い物を続ける'|trans }}</span>
                                <a href="{{ url('cart') }}" class="ec-inlineBtn--action">{{ 'カートへ進む'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ec-pagerRole">
                {% include "pager.twig" with {'pages': pagination.paginationData} %}
            </div>


        {% endif %}

    {% endif %}
    <div style="padding-bottom:20px;">
		<a href="https://t-yokogawa.com/user_data/product_lineup" class="btn">商品一覧に戻る</a>
    </div>
{% endblock %}