{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block stylesheet %}
    <style>

        .slick-slider {
            margin-bottom: 30px;
        }

        .slick-dots {
            position: absolute;
            bottom: -45px;
            display: block;
            width: 100%;
            padding: 0;
            list-style: none;
            text-align: center;
        }

        .slick-dots li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;

            cursor: pointer;
        }

        .slick-dots li button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }

        .slick-dots li button:hover,
        .slick-dots li button:focus {
            outline: none;
        }

        .slick-dots li button:hover:before,
        .slick-dots li button:focus:before {
            opacity: 1;
        }

        .slick-dots li button:before {
            content: " ";
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 12px;
            text-align: center;
            opacity: .25;
            background-color: black;
            border-radius: 50%;

        }

        .slick-dots li.slick-active button:before {
            opacity: .75;
            background-color: black;
        }

        .slick-dots li button.thumbnail img {
            width: 0;
            height: 0;
        }

    </style>
{% endblock %}

{% block javascript %}
    <script>
	    window.onload = function(){
			$form = $('#form1');
		}
	</script>
    <script>
        eccube.classCategories = {{ class_categories_as_json(Product)|raw }};

        // 規格2に選択肢を割り当てる。
        function fnSetClassCategories(form, classcat_id2_selected) {
            var $form = $(form);
            var product_id = $form.find('input[name=product_id]').val();
            var $sele1 = $form.find('select[name=classcategory_id1]');
            var $sele2 = $form.find('select[name=classcategory_id2]');
            eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
        }

        {% if form.classcategory_id2 is defined %}
        fnSetClassCategories(
            $('#form1'), {{ form.classcategory_id2.vars.value|json_encode|raw }}
        );
        {% elseif form.classcategory_id1 is defined %}
        eccube.checkStock($('#form1'), {{ Product.id }}, {{ form.classcategory_id1.vars.value|json_encode|raw }}, null);
        {% endif %}
    </script>
    <script>
        $(function() {
            // bfcache無効化
            $(window).bind('pageshow', function(event) {
                if (event.originalEvent.persisted) {
                    location.reload(true);
                }
            });

            $('.item_visual').slick({
                dots: false,
                arrows: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        dots: true
                    }
                }]
            });

            $('.slideThumb').on('click', function() {
                var index = $(this).attr('data-index');
                $('.item_visual').slick('slickGoTo', index, false);
            })
        });
    </script>
    <script>
        $(function() {
            $('.add-cart').on('click', function(event) {
                
                //追加価格のオプションがあれば追加価格をセットする.
                //eccube.checkOptionPrice($('#form1'));

                event.preventDefault();
                $form = $('#form1');
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        // Buttonを無効にする
                        $('.add-cart').prop('disabled', true);
                    }
                }).done(function(data) {
                    // レスポンス内のメッセージをalertで表示
                    $.each(data.messages, function() {
                        $('#ec-modal-header').html(this);
                    });

                    $('.ec-modal').show()

                    // カートブロックを更新する
                    $.ajax({
                        url: "{{ url('block_cart') }}",
                        type: 'GET',
                        dataType: 'html'
                    }).done(function(html) {
                        $('.ec-headerRole__cart').html(html);
                    });
                }).fail(function(data) {
                    alert('{{ 'カートへの追加に失敗しました。'|trans }}');
                }).always(function(data) {
                    // Buttonを有効にする
                    $('.add-cart').prop('disabled', false);
                });
            });
        });
        
        //詳細を指定する
        $('.select-options').on('click', function() {
            
            {% if form.classcategory_id1 is defined %}
	            // 規格1フォームの必須チェック
	            let relmts = document.getElementsByName('classcategory_id1');
				let len = relmts.length;
				let sizeCheck = '';
				for (let i = 0; i < len; i++){
				    if (relmts.item(i).checked){
				        sizeCheck = relmts.item(i).value;
				    }
				}
				//サイズがチェックされていなければエラー表示
	            if (sizeCheck == '') {
	                //アラート
	                alert('サイズを選択してください');
	                
	                //サイズ選択欄の背景色を赤にする
	                var size_sentaku_id = 'classcategory_id1';
		    		
		    		if(document.getElementById(size_sentaku_id) != null){
						document.getElementById(size_sentaku_id).style.color="red";
					}
	                
	                return true;
	            }
	            
            {% endif %}

            {% if form.classcategory_id2 is defined %}
            // 規格2フォームの必須チェック
            if ($('#classcategory_id2').val() == '__unselected' || $('#classcategory_id2').val() == '') {
                $('#classcategory_id2')[0].setCustomValidity('{{ '項目が選択されていません'|trans }}');
                return true;
            } else {
                $('#classcategory_id2')[0].setCustomValidity('');
            }
            {% endif %}

            // 個数フォームのチェック
            if ($('#quantity').val() < 1) {
                $('#quantity')[0].setCustomValidity('{{ '1以上で入力してください。'|trans }}');
                return true;
            } else {
                $('#quantity')[0].setCustomValidity('');
            }
            
            
            
            
            //詳細ブロックを表示する
            var syousai_sitei_id = 'blk_syousai_sitei';
    		if(document.getElementById(syousai_sitei_id) != null){
				document.getElementById(syousai_sitei_id).style.display="block";
			}
            
            //商品メインブロックを非表示にする
            var syohin_main_id = 'blk_syohin_main';
    		if(document.getElementById(syohin_main_id) != null){
				document.getElementById(syohin_main_id).style.display="none";
			}
			
			//ページトップへ移動
			document.body.scrollTop = document.documentElement.scrollTop = 0;
        });
        
        //前に戻る
        $('.back-main').on('click', function() {
            //詳細ブロックを非表示にする
            var syousai_sitei_id = 'blk_syousai_sitei';
    		if(document.getElementById(syousai_sitei_id) != null){
				document.getElementById(syousai_sitei_id).style.display="none";
			}
            
            //商品メインブロックを表示する
            var syohin_main_id = 'blk_syohin_main';
    		if(document.getElementById(syohin_main_id) != null){
				document.getElementById(syohin_main_id).style.display="block";
			}
			
			//ページトップへ移動
			document.body.scrollTop = document.documentElement.scrollTop = 0;
        });
        
        
        
    </script>
{% endblock %}

{% block main %}
    <div class="ec-productRole">
        <div class="ec-grid2">
            <div class="ec-grid2__cell">
                <div class="ec-sliderItemRole">

                    <div class="item_visual">
                        {% for ProductImage in Product.ProductImage %}
                            <div class="slide-item"><img src="{{ asset(ProductImage, 'save_image') }}"></div>
                        {% else %}
                            <div class="slide-item"><img src="{{ asset(''|no_image_product, 'save_image') }}"/></div>
                        {% endfor %}
                    </div>
                    <div class="item_nav">
                        {% for ProductImage in Product.ProductImage %}
                            <div class="slideThumb" data-index="{{ loop.index0 }}"><img src="{{ asset(ProductImage, 'save_image') }}"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        
        <form action="{{ url('product_add_cart', {id:Product.id}) }}" method="post" id="form1" name="form1">
                    
            <div class="ec-grid2__cell" style="width:100%;">
                <div class="ec-productRole__profile">
                    {# 商品名 #}
                    <div class="ec-productRole__title">
                        <h2 class="ec-headingTitle"><b>{{ Product.name }}</b></h2>
                    </div>
                    {# 商品説明 #}
                    <div class="ec-productRole__description" style="padding-top:10px;">{{ Product.description_detail|raw|nl2br }}
                    {# タグ #}
                    <!--
                    <ul class="ec-productRole__tags">
                        {% for Tag in Product.Tags %}
                            <li class="ec-productRole__tag tag_{{ Tag.id }}">{{ Tag }}</li>
                        {% endfor %}
                    </ul>
                    -->
                    
                    {# 商品コード #}
                    <!--
                    {% if Product.code_min is not empty %}
                        <div class="ec-productRole__code">
                            {{ '商品コード'|trans }}： <span class="product-code-default">{{ Product.code_min }}{% if Product.code_min != Product.code_max %} ～ {{ Product.code_max }}{% endif %}</span>
                        </div>
                    {% endif %}
                    -->
                    {# 関連カテゴリ #}
                    <!-- カテゴリの判定 (デコオプション、キャンドルオプション、ギフト、袋オプション)-->
                    {% set is_deco_option = false  %}
                    {% set is_candle_option = false  %}
                    {% set is_gift = false  %}
                    {% set is_bag_option = false  %}
                    {% if Product.ProductCategories is not empty %}
                        {% for ProductCategory in Product.ProductCategories %}
                                {% for Category in ProductCategory.Category.path %}
                                    
                                    <!-- デコオプションと判定 -->
                                    {% if Category.name == 'デコオプション' %}
                                    	{% set is_deco_option = true  %}
                                    {% endif %}
                                    <!-- と判定 -->
                                    {% if Category.name == 'キャンドルオプション' %}
                                    	{% set is_candle_option = true  %}
                                    {% endif %}
                                    <!-- と判定 -->
                                    {% if Category.name == 'ギフト' %}
                                    	{% set is_gift = true  %}
                                    {% endif %}
                                    {% if Category.name == '袋オプション' %}
                                    	{% set is_bag_option = true  %}
                                    {% endif %}
                                    {%- if loop.last == false %}
                                    {% endif -%}
                                {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <!-- .カテゴリの判定 -->
                    <!--
                    {% if Product.ProductCategories is not empty %}
                        <div class="ec-productRole__category">
                            <div>{{ '関連カテゴリ'|trans }}</div>
                            {% for ProductCategory in Product.ProductCategories %}
                                <ul>
                                    <li>
                                        {% for Category in ProductCategory.Category.path %}
                                            <a href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a> {%- if loop.last == false %}
                                            <span>＞</span>{% endif -%}
                                        {% endfor %}
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    {% endif %}
                    -->
                    
                    
                    
                        {% if Product.stock_find %}
                         <div id="blk_syohin_main" style="display:block;">   
                            <!-- サイズ -->
                            {% if form.classcategory_id1 is defined %}
                                <div class="">
                                    {{ form_widget(form.classcategory_id1) }}
                                    {{ form_errors(form.classcategory_id1) }}
                                </div>
                                {% if form.classcategory_id2 is defined %}
                                    <div class="">
                                        {{ form_widget(form.classcategory_id2) }}
                                        {{ form_errors(form.classcategory_id2) }}
                                    </div>
                                {% endif %}
                            {% endif %}
                            
                            <!-- 個数(サイズのみ) -->
                            <div class="ec-numberInput">
                            	<span>{{ '個数:'|trans }}</span>
                                {{ form_widget(form.quantity) }}
                                {{ form_errors(form.quantity) }}
                                <span>{{ '個'|trans }}</span>
                            </div>
                            
                            {# 定価(表示用) #}
		                    {% if Product.hasProductClass -%}
		                        <div class="ec-productRole__priceRegular">
		                            {% if Product.getPrice01Min is not null and Product.getPrice01IncTaxMin == Product.getPrice01IncTaxMax %}
		                                <span class="ec-productRole__priceRegularPrice">{{ '定価'|trans }}：<span class="price01-view-default">{{ Product.getPrice01IncTaxMin|price }}</span></span>
		                                <span class="ec-productRole__priceRegularTax">{{ '(税込)'|trans }}</span>
		                            {% elseif Product.getPrice01Min is not null and Product.getPrice01Max is not null %}
		                                <span class="ec-productRole__priceRegularPrice">{{ '定価'|trans }}：<span class="price01-view-default">{{ Product.getPrice01IncTaxMin|price }}～ {{ Product.getPrice01IncTaxMax|price }}</span></span>
		                                <span class="ec-productRole__priceRegularTax">{{ '(税込)'|trans }}</span>
		                            {% endif %}
		                        </div>
		                    {% else %}
		                        {% if Product.getPrice01Max is not null %}
		                            <span class="ec-productRole__priceRegularPrice">{{ '定価'|trans }}：{{ Product.getPrice01IncTaxMin|price }}</span>
		                            <span class="ec-productRole__priceRegularTax">{{ '(税込)'|trans }}</span>
		                        {% endif %}
		                    {% endif %}
		                    
		                    {# 販売価格(表示用) #}
		                    <div class="ec-productRole__price" style="font-size:20px; color:#000;border-top:1px dotted #ccc;">
		                        {% if Product.hasProductClass -%}
		                            {% if Product.getPrice02IncTaxMin == Product.getPrice02IncTaxMax %}
		                                <div class="ec-price">
		                                    <span class="ec-price__price price02-view-default">{{ Product.getPrice02IncTaxMin|price }}</span>
		                                    <span class="ec-price__tax">{{ '(税込)'|trans }}</span>
		                                </div>
		                            {% elseif Product.getPrice02Min is not null and Product.getPrice02Max is not null %}
		                                <span class="ec-productRole__priceRegularPrice">{{ '定価'|trans }}：<span class="price02-view-default">{{ Product.getPrice02IncTaxMin|price }}～ {{ Product.getPrice02IncTaxMax|price }}</span></span>
		                                <span class="ec-productRole__priceRegularTax">{{ '(税込)'|trans }}</span>
		                            {% else %}
		                                <div class="ec-price">
		                                    <span class="ec-productRole__priceRegularPrice">{{ '価格'|trans }}：
		                                    </span><span class="ec-price__price price02-view-default" style="padding-left:0px;font-weight: normal;;">{{ Product.getPrice02IncTaxMin|price }}</span>
		                                    <span class="ec-price__tax">{{ '(税込)'|trans }}</span>
		                                </div>
		                            {% endif %}
		                        {% else %}
		                            <div class="ec-price">
		                                <span class="ec-price__price">{{ Product.getPrice02IncTaxMin|price }}</span>
		                                <span class="ec-price__tax">{{ '(税込)'|trans }}</span>
		                            </div>
		                        {% endif %}
		                    </div>
		                    
                            <!-- 金額(サイズのみ) -->
                            
                            <!-- 詳細を指定するボタン -->
                            <div class="ec-productRole__btn" style="padding-top:10px;width:100%;">
                                <button type="button" class="ec-blockBtn--action select-options" style="outline:none; background: url({{ asset('assets/img/btn_syousai.png') }}) no-repeat scroll 0 0; border-color:#fff;min-height:100px; height:auto;">
                                </button>
                            </div>
                            
                            
                            <!-- 自由入力 -->
					        {% if Product.freearea %}
					             <div class="ec-productRole__description">
					                 {{ include(template_from_string(Product.freearea)) }}
					            </div>
					        {% endif %}
					     </div>
                         <!-- .商品メインブロック -->
                        {% else %}
                            <div class="ec-productRole__btn">
                                <button type="button" class="ec-blockBtn--action" disabled="disabled">
                                    {{ 'ただいま品切れ中です。'|trans }}
                                </button>
                            </div>
                        {% endif %} 
                            
                            
                            
                        <!----- 【詳細を指定】ブロック ----->
                        {% if Product.stock_find %}
                         <div id="blk_syousai_sitei" style="display:none;">
                            {# 詳細を指定する #}
                            <div class="ec-productRole__profile" style="width:100%; padding-top:100px;">
			                    <div style="margin-left:auto; margin-right:auto; background: url({{ asset('assets/img/mark_write_sentence.png') }}) no-repeat scroll 0 0; border-color:#fff;min-height:150px; height:auto; outline:none;">
	                            </div>
			                </div>
                            
		                    <!-- オプション一覧 -->
		                    <div style="position: relative;border-radius: 2px;background-color: #fff;">
		                                
			                            <div class="ec-productRole__actions">
			                                
			                                <!-- ☆↓-------------------オプション入力欄-------------------☆ -->
			                                
			                                {% if is_candle_option == true %}
			                                <!-- 〇キャンドルオプション -->
				                            <div id="option_form_candle" class="ec-productRole__actions">
				                                	
				                                	<!-- 大オプションラベル:キャンドルを選択 -->
				                                    <div style="background-color:lightblue; font-size:21px;">
				                                    	<div class="" style="float:left; width:80%; padding:8px;">
				                                    		<b>キャンドルを選択</b>
				                                    	</div>
				                                    	<div style="float:left; width:20%; padding:8px; font-size:16px;">
				                                    		<input type="checkbox" id="chk_candle_nosel" name="chk_candle_nosel">
				                                    		<label for="chk_candle_nosel">不要</label>
				                                    	</div>
				                                    	<div style="clear:both;"></div>
				                                    </div>
				                                    <!-- .大オプションラベル:キャンドルを選択 -->
				                                    
				                                    <!-- キャンドル　大 -->
													<div id="candle_dai_blk" style="float: left; width: 50%;">
					                                    <!-- オプション画像 -->
					                                    <div style="width: 160px; height: 160px; background-image: url({{ asset('assets/img/option/opt_candle_big.png') }})"></div>
					                                    <!-- 入力エリア -->
					                                	<div style="font-size:14px;">
					                                        <!-- オプション項目名 -->
															<div style="display:block; font-size:14px;">
																<div id="candle_dai_koumokumei" style="width: 80%; margin: 0px auto; text-align: center;"></div>
																<div style="">
																	<div style="float:left; padding:8px;">キャンドル　大</div>
																	<div style="clear:both;"></div>
																</div>
							                                </div>
							                                <!-- .オプション項目名 -->
					                                        <!-- 入力欄：数字入力(本数) -->
					                                        <div id="candle_dai_nyuryoku" style="display: block;">
																<div class="ec-numberInput" style="float:left">
																	<span>本数:</span>
																	<input type="number" id="candle_dai_num" name="candle_dai_num" required="required" min="1" max="10" maxlength="2" class="form-control" value="">
																	<span>本</span>
																</div>
																<div style="clear:both;"></div>
					                                        </div>
					                                        <!-- .入力欄：数字入力(本数) -->
					                                    </div>
					                            	</div>
				                                	<!-- .キャンドル　大 -->
				                                	
													<!-- キャンドル　小 -->
													<div id="candle_syo_blk" style="float: left; width: 50%; font-size:14px;">
					                                    <!-- オプション画像 -->
					                                    <div style="width: 160px; height: 160px; background-image: url({{ asset('assets/img/option/opt_candle_small.png') }})"></div>
					                                    <div id="candle_syo_gazou" style="width: 80%; margin: 0px auto; text-align: center;"></div>
					                                    <!-- 入力エリア -->
					                                    <div style="font-size:14px;">
					                                    	<!-- オプション項目名 -->
															<div style="display:block;">
																<div id="candle_syo_koumokumei" style="width: 80%; margin: 0px auto; text-align: center;"></div>
																<div style="">
																	<div style="float:left; padding:8px;">キャンドル　小</div>
																	<div style="clear:both;"></div>
																</div>
							                                </div>
							                                <!-- .オプション項目名 -->
							                                <!-- 入力欄：数字入力(本数) -->
					                                        <div id="candle_syo_nyuryoku" style="display: block;">
					                                        	<div class="ec-numberInput" style="float:left">
																	<span>本数:</span>
																	<input type="number" id="candle_syo_num" name="candle_syo_num" required="required" min="1" max="10" maxlength="2" class="form-control" value="">
																	<span>本</span>
																</div>
																<div style="clear:both;"></div>
					                                        </div>
					                                        <!-- ,入力欄：数字入力(本数) -->
					                                    </div>
					                            	</div>
				                                	<!-- .キャンドル　小 -->
				                                    
				                                    <!-- Noキャンドル 1つめ -->
													<div id="candle_no1_blk" style="clear: both; width: 100%; font-size:14px;">
						                                <!-- オプション画像 -->
					                                    <div style="width: 280px; height: 155px; background-image: url({{ asset('assets/img/option/opt_candle_no.png') }})"></div>
					                                    <div id="candle_no1_gazou" style="width: 80%; margin: 0px auto; text-align: center;"></div>
					                                    <!-- 入力エリア -->
					                                    <div class="">
					                                        <!-- オプション項目名 -->
															<div style="display:block;">
																<div id="candle_no1_koumokumei" style="width: 80%; margin: 0px auto; text-align: center;"></div>
																<div style="">
																	<div style="padding:8px;">Noキャンドル<span style="padding:8px; color:red;">(+130円)</span><span style="padding:1px; background-color:red; color:#fff;">有料</span></div>
																</div>
							                                </div>
							                                <!-- .オプション項目名 -->
					                                        <!-- 入力欄：数字入力(No,本数) -->
					                                        <div id="candle_no1_nyuryoku" style="display: block;">
					                                        	<div id="candle_no1_numtext" class="ec-numberInput" style="float: left; display: block;">
																	<span>No:</span>
																	<input type="number" id="candle_no1_no" name="candle_no1_no" required="required" min="1" max="10" maxlength="2" class="form-control" value="">
																</div>
					                                        	<div class="ec-numberInput" style="float:left">
																	<span>本数:</span>
																	<input type="number" id="candle_no1_num" name="candle_no1_num" required="required" min="1" max="10" maxlength="2" class="form-control" value="">
																	<span>本</span>
																</div>
																<div style="clear:both;"></div>
					                                        </div>
					                                        <!-- .入力欄：数字入力(No,本数) -->
					                                    </div>
					                            	</div>
				                                	<!-- .Noキャンドル 1つめ -->
				                                	
				                                    <!-- Noキャンドル 2つめ -->
													<div id="candle_no2_blk" style="clear: both; width: 100%; font-size:14px;">
							                            <!-- オプション画像 -->
					                                    <div style="width: 0px; background-image: url({{ asset('assets/img/option/opt_candle_no.png') }})"></div>
					                                    <div id="candle_no2_gazou" style="width: 80%; margin: 0px auto; text-align: center;"></div>
					                                    <!-- 入力エリア -->
					                                    <div class="">
					                                    	<!-- オプション項目名 -->
															<div style="display:block;">
																<div id="candle_no2_koumokumei" style="width: 80%; margin: 0px auto; text-align: center;"></div><div style=""><div style="clear:both;"></div></div>
							                                    <!-- アイコン -->
							                                    <div id="candle_no2_icon"></div>
							                                </div>
					                                        <!-- 入力欄：数字入力(No,本数) -->
					                                        <div id="candle_no2_nyuryoku" style="display: block;">
					                                        	<div id="candle_no2_numtext" class="ec-numberInput" style="float: left; display: block;">
																	<span>No:</span>
																	<input type="number" id="candle_no2_no" name="candle_no2_no" required="required" min="1" max="10" maxlength="2" class="form-control" value="">
																</div>
					                                        	<div class="ec-numberInput" style="float:left">
																	<span>本数:</span>
																	<input type="number" id="candle_no2_num" name="candle_no2_num" required="required" min="1" max="10" maxlength="2" class="form-control" value="">
																	<span>本</span>
																</div>
																<div style="clear:both;"></div>
					                                        </div>
					                                        <!-- .入力欄：数字入力(No,本数) -->
					                                    </div>
					                            	</div>
				                                	<!-- .Noキャンドル 2つめ -->
				                                	
				                                    <!-- Noキャンドル 3つめ -->
													<div id="candle_no3_blk" style="clear: both; width: 100%; font-size:14px;">
					                                    <!-- オプション画像 -->
					                                    <div style="width: 0px; background-image: url({{ asset('assets/img/option/opt_candle_no.png') }})"></div>
					                                    <div id="candle_no3_gazou" style="width: 80%; margin: 0px auto; text-align: center;"></div>
					                                    <!-- 入力エリア -->
					                                    <div class="">
					                                        <!-- オプション項目名 -->
															<div style="display:block;">
																<div id="candle_no3_koumokumei" style="width: 80%; margin: 0px auto; text-align: center;"></div>
																<div style="">
																	<div style="clear:both;"></div>
																</div>
							                                </div>
					                                        <!-- .オプション項目名 -->
					                                        <!-- 入力欄：数字入力(No,本数) -->
					                                        <div id="candle_no3_nyuryoku" style="display: block;">
					                                        	<div id="candle_no3_numtext" class="ec-numberInput" style="float: left; display: block;">
																	<span>No:</span>
																	<input type="number" id="candle_no3_no" name="candle_no3_no" required="required" min="1" max="10" maxlength="2" class="form-control" value="">
																</div>
					                                        	<div class="ec-numberInput" style="float:left">
																	<span>本数:</span>
																	<input type="number" id="candle_no3_num" name="candle_no3_num" required="required" min="1" max="10" maxlength="2" class="form-control" value="">
																	<span>本</span>
																</div>
																<div style="clear:both;"></div>
					                                        </div>
					                                        <!-- .入力欄：数字入力(No,本数) -->
					                                    </div>
					                            	</div>
				                                	<!-- .Noキャンドル 3つめ -->
				                                	
				                            </div>
				                            {% endif %}
				                            <!-- .〇キャンドルオプション -->
				                            
				                            <!-- 〇デコレーション追加オプション(メッセージ) -->
				                            {% if is_deco_option == true %}
			                            	<div id="option_form_option" class="ec-productRole__actions">
			                                    <!-- 大カテゴリ表示(メッセージ) -->
			                                    <div style="background-color:lightblue; font-size:21px;">
			                                    	<div class="" style="float:left; width:80%; padding:8px;">
			                                    		<b>メッセージを入力</b>
			                                    	</div>
				                                    <div style="float:left; width:20%; padding:8px; font-size:16px;">
				                                    	<input type="checkbox" id="chk_message_nosel" name="chk_message_nosel">
				                                    	<label for="chk_message_nosel">不要</label>
				                                    </div>
				                                    <div style="clear:both;"></div>
			                                    </div>
			                                    <!-- .大カテゴリ表示(メッセージ) -->
			                                    
			                                    <!-- 入力エリア(メッセージ) -->
			                                    <div class="ec-rectHeading" style="font-size:14px;">
			                                    	<b>①メッセージプレートを選択</b>
			                                    </div>
			                                    <div id="messageplate_blk">
				                                    <div class="">
				                                        <div id="messageplate_wdg" style="display:block;">
				                                        	<div id="messageplate" style="float: left; width: 50%;">
				                                        		<div class="form-check">
				                                        			<div style="width: 160px; height: 100px; background-image: url({{ asset('assets/img/option/opt_plate_muji.png') }})">
				                                        			</div>
					                                        		<input type="radio" id="messageplate_0" name="messageplate" required="required" class="form-check-input" value="61">
															        <label class="form-check-label required" for="messageplate_0">無地プレート</label>
														    	</div>
														    </div>
														    <div class="form-check" style="float: left; width: 50%;">
														    	<div style="width: 160px; height: 100px; background-image: url({{ asset('assets/img/option/opt_plate_omedeto_only.png') }})">
														    	</div>
														    	<input type="radio" id="messageplate_1" name="messageplate" required="required" class="form-check-input" value="62">
														        <label class="form-check-label required" for="messageplate_1">おたんじょうびおめでとう</label>
													    	</div>
													    	<div style="clear:both;"></div>
													        <div class="form-check" style="float: left; width: 50%;">
													        	<div style="width: 160px; height: 100px; background-image: url({{ asset('assets/img/option/opt_plate_omedeto_plus.png') }})">
													        	</div>
													        	<input type="radio" id="messageplate_2" name="messageplate" required="required" class="form-check-input" value="63">
													        	<label class="form-check-label required" for="messageplate_2">おたんじょうびおめでとう(□に名前が入ります)</label>
													    	</div>
													    	<div style="clear:both;"></div>
														</div>
			                                    	</div>
				                                        
				                                    <!--    名入れ(プレート)    -->
							                        <div id="printname_plate_block" style="display:block;">
						                                <!-- 下矢印 -->
							                            <div class="ec-productRole__profile" style="width:100%;">
										                    <div style="margin-left:auto; margin-right:auto; background: url({{ asset('assets/img/option/shita_yajirusi.png') }}) no-repeat scroll 0 0; border-color:#fff;min-height:100px; height:auto; outline:none;">
								                            </div>
										                </div>
						                                <div class="ec-rectHeading" style="font-size:14px;">
										                    <b>②メッセージを入力 (○○文字以内)</b>
										                </div>
						                                <div class="ec-input">
										                    <textarea id="printname_plate" name="printname_plate" rows="2" style="min-height : 20px" class="form-control"></textarea>
										                </div>
									                </div>
									            	<!--    .名入れ(プレート)    -->
			                                	</div>
			                                	<!-- .入力エリア(メッセージ) -->
			                                </div>
		                                	<!-- .〇デコレーション追加オプション(メッセージ) -->
		                                	
			                                
			                                <!-- 〇デコレーション追加オプション -->
			                            	<div id="option_form_deco" class="ec-productRole__actions">
			                                    <div style="background-color:lightblue; font-size:21px;">
			                                    	<div class="" style="float:left; width:80%; padding:8px;">
			                                    		<b>デコレーション追加</b>
			                                    	</div>
				                                    <div style="float:left; width:20%; padding:8px; font-size:16px;">
				                                    	<input type="checkbox" id="chk_message_nosel" name="chk_message_nosel">
				                                    	<label for="chk_message_nosel">不要</label>
				                                    </div>
				                                    <div style="clear:both;"></div>
						                      	</div>
						                        <div class="ec-rectHeading" style="font-size:14px; color:red;">
				                              		<b>※写真はイメージです。実物と異なる場合があります。</b>
				                              	</div>

			                                    <!-- いちごUP -->
												<div id="ichigo_blk" style="float: left; width: 50%;">
					                                <!-- 入力エリア -->
				                                    <div class="">
				                                    	<!-- 登録オプション名 -->
				                                    	<div style="width: 160px; height: 160px; background-image: url({{ asset('assets/img/option/opt_adddeco_ichigo.png') }})"></div>
				                                    	<div style="width: 0px; height: 0px; background-image: url(&quot;&quot;);"></div>
				                                        
				                                        <!-- 入力欄：チェック -->			                                        
				                                        <div id="ichigo_check" style="display:block; font-size:14px;">
				                                        	<input type="checkbox" id="ichigo_chk" name="ichigo_chk" required="" value="">
				                                        	<label for="ichigo_chk">
																<div style="padding:8px;">いちごUP<span style="padding:8px; color:red;">(+350円)</span><span style="padding:1px; background-color:red; color:#fff;">有料</span></div>
															</label>
				                                        </div>
				                                        
				                                    </div>
				                            	</div>
			                                	<!-- .いちごUP -->
			                                	
			                                    <!-- フルーツUP -->
												<div id="fruit_blk" style="float: left; width: 50%;">
						                            <!-- 入力エリア -->
				                                    <div class="">
				                                    	<!-- 登録オプション名 -->
				                                    	<div style="width: 160px; height: 160px; background-image: url({{ asset('assets/img/option/opt_adddeco_fruit.png') }})"></div>
				                                    	<div style="width: 0px; height: 0px; background-image: url(&quot;&quot;);"></div>
				                                        
				                                        <!-- 入力欄：チェック -->			                                        
				                                        <div id="fruit_check" style="display:block; font-size:14px;">
				                                        	<input type="checkbox" id="fruit_chk" name="fruit_chk" required="" value="">
				                                        	<label for="fruit_chk">
																<div style="padding:8px;">フルーツUP<span style="padding:8px; color:red;">(+350円)</span><span style="padding:1px; background-color:red; color:#fff;">有料</span></div>
															</label>
				                                        </div>
				                                        
				                                    </div>
				                            	</div>
				                            	<div style="clear:both;"></div>
			                                	<!-- .フルーツUP -->
			                                	
			                                    <!-- 生チョコUP -->
												<div id="namachoko_blk" style="float: left; width: 50%;">
				                                    <!-- 入力エリア -->
				                                    <div class="">
				                                        <!-- 登録オプション名 -->
				                                        <div style="width: 160px; height: 160px; background-image: url({{ asset('assets/img/option/opt_adddeco_choko_nama.png') }})"></div>
				                                        <div style="width: 0px; height: 0px; background-image: url(&quot;&quot;);"></div>
				                                        
				                                        <!-- 入力欄：チェック -->			                                        
				                                        <div id="namachoko_check" style="display:block; font-size:14px;">
				                                        	<input type="checkbox" id="namachoko_chk" name="namachoko_chk" required="" value="">
				                                        	<label for="namachoko_chk">
																<div style="padding:8px;">生チョコUP<span style="padding:8px; color:red;">(+350円)</span><span style="padding:1px; background-color:red; color:#fff;">有料</span></div>
															</label>
				                                        </div>
				                                    </div>
				                            	</div>
			                                	<!-- .生チョコUP -->
			                                	
			                                    <!-- 絵チョコ(4号) -->
												<div id="echoko_blk" style="float: left; width: 50%;">
					                                <!-- 入力エリア -->
				                                    <div class="">
				                                    	<!-- デコレーション追加画像 -->
				                                    	<div style="width: 160px; height: 160px; background-image: url({{ asset('assets/img/option/opt_adddeco_choko_e.png') }})"></div>
				                                        <!-- .デコレーション追加画像 -->
				                                        
				                                        <!-- 入力欄：チェック -->			                                        
				                                        <div id="echoko_check" style="display:block; font-size:14px;">
				                                        	<input type="checkbox" id="echoko_chk" name="echoko_chk" required="" value="">
				                                        	<label for="echoko_chk">
																<div style="padding:8px;">絵チョコ(4号)<span style="padding:8px; color:red;">(+850円)</span><span style="padding:1px; background-color:red; color:#fff;">有料</span></div>
															</label>
				                                        </div>
				                                    </div>
				                            	</div>
				                            	<div style="clear:both;"></div>
				                            	<!-- .絵チョコ(4号) -->
				                            	
				                            	<!-- 絵チョコ(4号)説明 -->
				                            	<div id="echoko_blk">
				                            		<div class="">
				                                    	<!-- デコレーション追加画像 -->
				                                    	<div style="width: 350px; height: 200px; background-image: url({{ asset('assets/img/option/setumei_choko_nama.png') }})"></div>
				                                        <!-- .デコレーション追加画像 -->
				                                    </div>
				                            	</div>
				                            	<!-- .絵チョコ(4号)説明 -->
				                            	
			                                </div>
			                                {% endif %}
			                                <!-- .〇デコレーション追加オプション -->
		                            		
		                            		
		                                	<!-- 〇袋オプション -->
		                                	{% if is_bag_option == true %}
			                            	<div id="option_form_bag" class="ec-productRole__actions">
			                                	
			                                	<!-- 大カテゴリ表示(持ち帰りポリ袋) -->
			                                    <div style="background-color:lightblue; font-size:21px;">
			                                    	<div class="" style="float:left; width:80%; padding:8px;">
			                                    		<b>持ち帰りポリ袋</b>
			                                    	</div>
				                                    <div style="float:left; width:20%; padding:8px; font-size:16px;">
				                                    	<input type="checkbox" id="chk_message_nosel" name="chk_message_nosel">
				                                    	<label for="chk_message_nosel">不要</label>
				                                    </div>
				                                    <div style="clear:both;"></div>
			                                    </div>
			                                    <!-- .大カテゴリ表示(持ち帰りポリ袋) -->
			                                    
												<!-- ブロック -->
												<div id="hukuro_blk">
				                                    <!-- 入力エリア -->
				                                    <div class="">				                                        
				                                        <div id="hukuro_wdg" style="display:block;">
				                                        	
				                                        	<div id="hukuro">
				                                        		<div id="pori_cyu_check" style="display:block; font-size:14px;">
						                                        	<input type="checkbox" id="pori_cyu_chk" name="pori_cyu_chk" required="" value="">
						                                        	<label for="pori_cyu_chk">
																		<div style="padding:8px;">ポリ袋 中
																			<span style="padding:8px; color:red;">(+10円)</span>
																			<span style="padding:1px; background-color:red; color:#fff;">有料</span>
																		</div>
																	</label>
						                                        </div>
														        <div id="pori_dai_check" style="display:block; font-size:14px;">
						                                        	<input type="checkbox" id="pori_dai_chk" name="pori_dai_chk" required="" value="">
						                                        	<label for="pori_dai_chk">
																		<div style="padding:8px;">ポリ袋 大
																			<span style="padding:8px; color:red;">(+10円)</span>
																			<span style="padding:1px; background-color:red; color:#fff;">有料</span>
																		</div>
																	</label>
						                                        </div>
														        <div id="pori_tokudai_check" style="display:block; font-size:14px;">
						                                        	<input type="checkbox" id="pori_tokudai_chk" name="pori_tokudai_chk" required="" value="">
						                                        	<label for="pori_tokudai_chk">
																		<div style="padding:8px;">ポリ袋 特大
																			<span style="padding:8px; color:red;">(+30円)</span>
																			<span style="padding:1px; background-color:red; color:#fff;">有料</span>
																		</div>
																	</label>
						                                        </div>
						                                    </div>
													        
				                                        </div>
				                                    </div>
				                            	</div>
				                            </div>
			                                {% endif %}
			                                <!-- .〇袋オプション -->
			                                
			                                
			                                
			                                <!-- 〇ギフト -->
			                                {% if is_gift == true %}
			                            	<div id="option_form_noshi" class="ec-productRole__actions">
			                                    <!-- 大カテゴリ表示(包装方法) -->
			                                    <div style="background-color:lightblue; font-size:21px;">
			                                    	<div class="" style="float:left; width:80%; padding:8px;">
			                                    		<b>包装方法を選択</b>
			                                    	</div>
				                                    <div style="float:left; width:20%; padding:8px; font-size:16px;">
				                                    	<input type="checkbox" id="chk_message_nosel" name="chk_message_nosel">
				                                    	<label for="chk_message_nosel">不要</label>
				                                    </div>
				                                    <div style="clear:both;"></div>
			                                    </div>
			                                    <!-- .大カテゴリ表示(包装方法) -->
			                                    
			                                    <!-- 入力エリア(包装方法) -->
			                                    <div class="ec-rectHeading" style="font-size:14px;">
			                                    	<b>①包装方法プレートを選択</b>
			                                    </div>
			                                    <div id="housouselect_blk" style="padding-bottom:20px;">
				                                    <!-- 包装選択 -->
				                                    <div class="" style="padding-bottom:20px;">
				                                        <div id="housouselect_wdg" style="display:block;">
				                                        	<div id="housouselect" style="float: left; width: 50%;">
				                                        		<div class="form-check">
				                                        			<input type="radio" id="housouselect_0" name="housouselect" required="required" class="form-check-input" value="61">
															        <label class="form-check-label required" for="housouselect_0">包装</label>
															        <div style="width: 164px; height: 164px; background-image: url({{ asset('assets/img/option/opt_gift_housou.png') }})">
				                                        			</div>
														    	</div>
														    </div>
														    <div class="form-check" style="float: left; width: 50%;">
														    	<input type="radio" id="housouselect_1" name="housouselect" required="required" class="form-check-input" value="62">
														        <label class="form-check-label required" for="housouselect_1">自宅用</label>
														        <div style="width: 164px; height: 164px; background-image: url({{ asset('assets/img/option/opt_gift_jitaku.png') }})">
														    	</div>
													    	</div>
													    	<div style="clear:both;"></div>
													        <div class="form-check" style="float: left; width: 50%;">
													        	<input type="radio" id="housouselect_2" name="housouselect" required="required" class="form-check-input" value="63">
													        	<label class="form-check-label required" for="housouselect_2">リボン</label>
													        	<div style="width: 164px; height: 164px; background-image: url({{ asset('assets/img/option/opt_gift_ribon.png') }})">
													        	</div>
													    	</div>
													    	<div class="form-check" style="float: left; width: 50%;">
													        	<input type="radio" id="housouselect_3" name="housouselect" required="required" class="form-check-input" value="63">
													        	<label class="form-check-label required" for="housouselect_3">熨斗</label>
													        	<div style="width: 164px; height: 164px; background-image: url({{ asset('assets/img/option/opt_gift_noshi.png') }})">
													        	</div>
													    	</div>
													    	<div style="clear:both;"></div>
														</div>
			                                    	</div>
			                                    	<!-- .包装選択 -->
			                                    	
			                                    	<!-- 熨斗の掛け方 -->
										            <div class="ec-rectHeading" style="font-size:14px;">
				                                    	<b>①熨斗の掛け方を選択</b>
				                                    </div>
													<div class="" style="padding-bottom:20px;">
				                                        <div id="noshikakekata_wdg" style="display:block;">
				                                        	<div id="noshikakekata" style="float: left; width: 50%;">
				                                        		<div class="form-check">
				                                        			<input type="radio" id="noshikakekata_0" name="noshikakekata" required="required" class="form-check-input" value="61">
															        <label class="form-check-label required" for="noshikakekata_0">内熨斗</label>
														    	</div>
														    </div>
														    <div class="form-check" style="float: left; width: 50%;">
														    	<input type="radio" id="noshikakekata_1" name="noshikakekata" required="required" class="form-check-input" value="62">
														        <label class="form-check-label required" for="noshikakekata_1">外熨斗</label>
													    	</div>
													    	<div style="clear:both;"></div>
														</div>
														<!-- 下矢印 -->
							                            <div class="ec-productRole__profile" style="width:100%;">
										                    <div style="margin-left:auto; margin-right:auto; background: url({{ asset('assets/img/option/shita_yajirusi.png') }}) no-repeat scroll 0 0; border-color:#fff;min-height:100px; height:auto; outline:none;">
								                            </div>
										                </div>
			                                    	</div>
			                                    	<!-- .熨斗の掛け方 -->
			                                    	
			                                    	<!-- 掛け紙・包装の種類 -->
										            <div class="ec-rectHeading" style="font-size:14px;">
				                                    	<b>②掛け紙・包装の種類を選択</b>
				                                    </div>
													<div class="" style="padding-bottom:20px;">
				                                        <div id="kakehousousyurui_wdg" style="display:block;">
			                                        		<div class="form-check" style="width: 100%;">
			                                        			<input type="radio" id="kakehousousyurui_0" name="kakehousousyurui" required="required" class="form-check-input" value="61">
														        <label class="form-check-label required" for="kakehousousyurui_0">紅白蝶結び（慶事用）</label>
													    	</div>
														    <div class="form-check" style="width: 100%;">
														    	<input type="radio" id="kakehousousyurui_1" name="kakehousousyurui" required="required" class="form-check-input" value="62">
														        <label class="form-check-label required" for="kakehousousyurui_1">紅白結切り10本（婚礼用）</label>
													    	</div>
													    	<div class="form-check" style="width: 100%;">
			                                        			<input type="radio" id="kakehousousyurui_2" name="kakehousousyurui" required="required" class="form-check-input" value="61">
														        <label class="form-check-label required" for="kakehousousyurui_2">紅白結切り5本（お見舞用）</label>
													    	</div>
														    <div class="form-check" style="width: 100%;">
														    	<input type="radio" id="kakehousousyurui_3" name="kakehousousyurui" required="required" class="form-check-input" value="62">
														        <label class="form-check-label required" for="kakehousousyurui_3">紅白結切り5本（快気祝用）</label>
													    	</div>
													    	<div class="form-check" style="width: 100%;">
			                                        			<input type="radio" id="kakehousousyurui_4" name="kakehousousyurui" required="required" class="form-check-input" value="61">
														        <label class="form-check-label required" for="kakehousousyurui_4">黄白（弔事用）</label>
													    	</div>
														</div>
														<!-- 下矢印 -->
							                            <div class="ec-productRole__profile" style="width:100%;">
										                    <div style="margin-left:auto; margin-right:auto; background: url({{ asset('assets/img/option/shita_yajirusi.png') }}) no-repeat scroll 0 0; border-color:#fff;min-height:100px; height:auto; outline:none;">
								                            </div>
										                </div>
			                                    	</div>
			                                    	<!-- .掛け紙・包装の種類 -->
			                                    	
			                                    	<!-- 上書きの種類 -->
										            <div class="ec-rectHeading" style="font-size:14px;">
				                                    	<b>③上書きの種類を選択</b>
				                                    </div>
													<div class="" style="padding-bottom:20px;">
				                                        <div id="uwagakisentaku_wdg" style="display:block;">
			                                        		<div class="form-check" style="float: left; width: 50%;">
			                                        			<input type="radio" id="uwagakisentaku_0" name="uwagakisentaku" required="required" class="form-check-input" value="61">
														        <label class="form-check-label required" for="uwagakisentaku_0">御礼</label>
													    	</div>
														    <div class="form-check" style="float: left; width: 50%;">
														    	<input type="radio" id="uwagakisentaku_1" name="uwagakisentaku" required="required" class="form-check-input" value="62">
														        <label class="form-check-label required" for="uwagakisentaku_1">御見舞</label>
													    	</div>
													    	<div style="clear:both;"></div>
													    	
													    	<div class="form-check" style="float: left; width: 50%;">
			                                        			<input type="radio" id="uwagakisentaku_2" name="uwagakisentaku" required="required" class="form-check-input" value="61">
														        <label class="form-check-label required" for="uwagakisentaku_2">御祝</label>
													    	</div>
														    <div class="form-check" style="float: left; width: 50%;">
														    	<input type="radio" id="uwagakisentaku_3" name="uwagakisentaku" required="required" class="form-check-input" value="62">
														        <label class="form-check-label required" for="uwagakisentaku_3">快気祝</label>
													    	</div>
													    	<div style="clear:both;"></div>
													    	
													    	<div class="form-check" style="float: left; width: 50%;">
			                                        			<input type="radio" id="uwagakisentaku_4" name="uwagakisentaku" required="required" class="form-check-input" value="61">
														        <label class="form-check-label required" for="uwagakisentaku_4">内祝</label>
													    	</div>
														    <div class="form-check" style="float: left; width: 50%;">
														    	<input type="radio" id="uwagakisentaku_5" name="uwagakisentaku" required="required" class="form-check-input" value="62">
														        <label class="form-check-label required" for="uwagakisentaku_5">御供</label>
													    	</div>
													    	<div style="clear:both;"></div>
													    	
													    	<div class="form-check" style="float: left; width: 50%;">
			                                        			<input type="radio" id="uwagakisentaku_6" name="uwagakisentaku" required="required" class="form-check-input" value="61">
														        <label class="form-check-label required" for="uwagakisentaku_6">御挨拶</label>
													    	</div>
														    <div class="form-check" style="float: left; width: 50%;">
														    	<input type="radio" id="uwagakisentaku_7" name="uwagakisentaku" required="required" class="form-check-input" value="62">
														        <label class="form-check-label required" for="uwagakisentaku_7">粗供養</label>
													    	</div>
													    	<div style="clear:both;"></div>
													    	
													    	<div class="form-check" style="float: left; width: 50%;">
			                                        			<input type="radio" id="uwagakisentaku_8" name="uwagakisentaku" required="required" class="form-check-input" value="61">
														        <label class="form-check-label required" for="uwagakisentaku_8">御中元</label>
													    	</div>
														    <div class="form-check" style="float: left; width: 50%;">
														    	<input type="radio" id="uwagakisentaku_9" name="uwagakisentaku" required="required" class="form-check-input" value="62">
														        <label class="form-check-label required" for="uwagakisentaku_9">志</label>
													    	</div>
													    	<div style="clear:both;"></div>
													    	
													    	<div class="form-check" style="float: left; width: 50%;">
			                                        			<input type="radio" id="uwagakisentaku_10" name="uwagakisentaku" required="required" class="form-check-input" value="61">
														        <label class="form-check-label required" for="uwagakisentaku_10">御歳暮</label>
													    	</div>
													    	<div style="clear:both;"></div>
													    	
														</div>
														<!-- 下矢印 -->
							                            <div class="ec-productRole__profile" style="width:100%;">
										                    <div style="margin-left:auto; margin-right:auto; background: url({{ asset('assets/img/option/shita_yajirusi.png') }}) no-repeat scroll 0 0; border-color:#fff;min-height:100px; height:auto; outline:none;">
								                            </div>
										                </div>
			                                    	</div>
			                                    	<!-- .上書きの種類 -->
			                                    	
			                                    	
			                                    	
				                                        
				                                    <!--    名入れ(熨斗)    -->
							                        <div id="printname_noshi_block" style="display:block;" style="padding-bottom:20px;">
						                                <div class="ec-rectHeading" style="font-size:14px;">
										                    <b>④熨斗の名入れ希望はこちらへ<br>　(ふりがなもご記入頂ければ対応可能です)</b>
										                </div>
						                                <div class="ec-input">
										                    <textarea id="printname_noshi" name="printname_noshi" rows="5" style="min-height : 20px" class="form-control"></textarea>
										                </div>
									                </div>
									            	<!--    .名入れ(熨斗)    -->
			                                	</div>
			                                	<!-- .入力エリア(包装方法) -->
			                                </div>
			                                {% endif %}
		                                	<!-- .〇ギフト -->
			                                
			                                
			                                <!-- オプション選択情報を裏側で保持する -->
											{% if form.option_detail is defined %}
				                                <div style="display:none;">
				                                    {{ form_widget(form.option_detail) }}
				                                    {{ form_errors(form.option_detail) }}
				                                </div>
				                            {% endif %}
											<!-- .オプション選択情報を裏側で保持する -->
			                                
			                                <!-- ☆↑-------------------オプション入力欄-------------------☆ -->
			                                
			                                
			                                {# 定価 #}
						                    {% if Product.hasProductClass -%}
						                        <div class="ec-productRole__priceRegular">
						                            {% if Product.getPrice01Min is not null and Product.getPrice01IncTaxMin == Product.getPrice01IncTaxMax %}
						                                <span class="ec-productRole__priceRegularPrice">{{ '定価'|trans }}：<span class="price01-default">{{ Product.getPrice01IncTaxMin|price }}</span></span>
						                                <span class="ec-productRole__priceRegularTax">{{ '(税込)'|trans }}</span>
						                            {% elseif Product.getPrice01Min is not null and Product.getPrice01Max is not null %}
						                                <span class="ec-productRole__priceRegularPrice">{{ '定価'|trans }}：<span class="price01-default">{{ Product.getPrice01IncTaxMin|price }}～ {{ Product.getPrice01IncTaxMax|price }}</span></span>
						                                <span class="ec-productRole__priceRegularTax">{{ '(税込)'|trans }}</span>
						                            {% endif %}
						                        </div>
						                    {% else %}
						                        {% if Product.getPrice01Max is not null %}
						                            <span class="ec-productRole__priceRegularPrice">{{ '定価'|trans }}：{{ Product.getPrice01IncTaxMin|price }}</span>
						                            <span class="ec-productRole__priceRegularTax">{{ '(税込)'|trans }}</span>
						                        {% endif %}
						                    {% endif %}
						                    {# 販売価格 #}
						                    <div class="ec-productRole__price" style="font-size:20px; color:#000;border-top:1px dotted #ccc;">
						                        {% if Product.hasProductClass -%}
						                            {% if Product.getPrice02IncTaxMin == Product.getPrice02IncTaxMax %}
						                                <div class="ec-price">
						                                    <span class="ec-price__price price02-default">{{ Product.getPrice02IncTaxMin|price }}</span>
						                                    <span class="ec-price__tax">{{ '(税込)'|trans }}</span>
						                                </div>
						                            {% else %}
						                                <div class="ec-price">
						                                    <span class="ec-productRole__priceRegularPrice">{{ '価格'|trans }}：
						                                    </span><span class="ec-price__price price02-default" style="padding-left:0px;font-weight: normal;;">{{ Product.getPrice02IncTaxMin|price }}</span>
						                                    <span class="ec-price__tax">{{ '(税込)'|trans }}</span>
						                                </div>
						                            {% endif %}
						                        {% else %}
						                            <div class="ec-price">
						                                <span class="ec-price__price">{{ Product.getPrice02IncTaxMin|price }}</span>
						                                <span class="ec-price__tax">{{ '(税込)'|trans }}</span>
						                            </div>
						                        {% endif %}
						                    </div>
						                </div>
			                            
			                            <div class="ec-productRole__btn" style="width:100%;">
			                                <button type="submit" class="ec-blockBtn--action add-cart" style="outline:none; background: url({{ asset('assets/img/btn_cart.png') }}) no-repeat scroll 0 0; border-color:#fff;min-height:100px; height:auto;">
			                                </button>
			                            </div>
			                            
			                            <div class="ec-productRole__btn" style="width:100%;">
			                                <button type="button" class="ec-blockBtn--action back-main" style="outline:none; background: url({{ asset('assets/img/btn_back.png') }}) no-repeat scroll 0 0; border-color:#fff;min-height:100px; height:auto;">
			                                </button>
			                            </div>
			                            
				                            
		                    </div>
		                    <!-- .オプション一覧-->
		                 <!----- .【詳細を指定】ブロック ----->
		                 </div>
		                {% endif %}
		                <!-- .blk_syousai_sitei -->
		                 
                        {{ form_rest(form) }}
                        
                        
                         
                    <div class="ec-modal">
                        <div class="ec-modal-overlay">
                            <div class="ec-modal-wrap">
                                <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                                <div id="ec-modal-header" class="text-center">{{ 'カートに追加しました。'|trans }}</div>
                                <div class="ec-modal-box">
                                    <div class="ec-role">
                                        <span class="ec-inlineBtn--cancel">{{ 'お買い物を続ける'|trans }}</span>
                                        <a href="{{ url('cart') }}" class="ec-inlineBtn--action">{{ 'カートへ進む'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
              
        </form>
        
    </div>
{% endblock %}