{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'mypage' %}

{% set mypageno = 'change' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}
    <div class="ec-layoutRole__main">
        
        {% set is_application = false %}
        {% set current_url = app.request.server.get('REQUEST_URI')%}
        {% if 'app_mode' in current_url  %}
        	{% set is_application = true %}
        {% endif %}
        
        <!-- アプリ画面ではない場合 -->
        {% if is_application != true %}
	        <div class="ec-mypageRole">
	            <div class="ec-pageHeader">
	                <h1>{{ 'マイページ'|trans }}/{{ '会員情報編集'|trans }}</h1>
	            </div>
	            {% include 'Mypage/navi.twig' %}
	        </div>
        {% endif %}
        
        <div class="ec-mypageRole">
            <div class="ec-editRole">
                <div class="ec-off1Grid">
                    <div class="ec-off1Grid__cell">
                        <form method="post" action="{{ url('mypage_change') }}" novalidate class="h-adr">
                            <span class="p-country-name" style="display:none;">Japan</span>
                            {{ form_widget(form._token) }}
                            <div class="ec-borderedDefs" {% if is_application == true %}style="padding-top:120px;"{% endif %}>
                                
                                <!-- アプリ画面である場合 -->
                                {% if is_application == true %}
	                                <dl>
	                                    <dt>
	                                        {{ form_label(form.birth, '生年月日', { 'label_attr': {'class': 'ec-label' }}) }}
	                                    </dt>
	                                    
	                                    {% set is_first_birthday = false %}
	                                    {% if form.birth.year is defined %}
		                                    {% if form.birth.year.vars.value == '' or form.birth.year.vars.value == "" %}
			                                <!-- 誕生日が1度も登録されていない -->
			                                {% set is_first_birthday = true %}
			                                {% endif %}
		                                {% endif %}
	                                    <dd>
	                                        <div class="ec-birth{{ has_errors(form.birth) ? ' error'}}" {% if is_first_birthday == false %}style="display:none;"{% endif %} >
	                                            {{ form_widget(form.birth.year) }}<span>/</span>
	                                            {{ form_widget(form.birth.month) }}<span>/</span>
	                                            {{ form_widget(form.birth.day) }}
	                                            {{ form_errors(form.birth) }}
	                                        </div>
	                                        <div class="" {% if is_first_birthday == false %}style="display:block;"{% else %}style="display:none;"{% endif %} >
	                                            {{form.birth.year.vars.value}}<span>/</span>
	                                            {{form.birth.month.vars.value}}<span>/</span>
	                                            {{form.birth.day.vars.value}}
	                                        </div>
	                                    </dd>
	                                    
	                                </dl>
	                                
	                                <span style="font-weight:bold; font-size:14px;">設定頂きますと誕生日ポイントが付与されます</span><br>
	                                <span style="font-size:13px;">※一度入力した誕生日は変更できません</span>
                                {% endif %}
                                <!-- .アプリ画面である場合 -->
                                
                                <dl>
                                    <dt>
                                        {{ form_label(form.name, 'お名前', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.name.name01, form.name.name02) ? ' error'}}">
                                            {{ form_widget(form.name.name01, { 'attr': { 'placeholder': '姓' }}) }}
                                            {{ form_widget(form.name.name02, { 'attr': { 'placeholder': '名' }}) }}
                                            {{ form_errors(form.name.name01) }}
                                            {{ form_errors(form.name.name02) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.kana, 'フリガナ', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.kana.kana01, form.kana.kana02) ? ' error'}}">
                                            {{ form_widget(form.kana.kana01, { 'attr': { 'placeholder': 'セイ' }}) }}
                                            {{ form_widget(form.kana.kana02, { 'attr': { 'placeholder': 'メイ' }}) }}
                                            {{ form_errors(form.kana.kana01) }}
                                            {{ form_errors(form.kana.kana02) }}
                                        </div>
                                    </dd>
                                </dl>
                                
                                <dl>
                                    <dt>
                                        {{ form_label(form.phone_number, '電話番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-telInput{{ has_errors(form.phone_number) ? ' error' }}">
                                            {{ form_widget(form.phone_number) }}
                                            {{ form_errors(form.phone_number) }}
                                        </div>
                                    </dd>
                                </dl>
                                
                                <dl style="display:none;">
                                    <dt>
                                        {{ form_label(form.company_name, '会社名', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.company_name) ? ' error' }}">
                                            {{ form_widget(form.company_name) }}
                                            {{ form_errors(form.company_name) }}
                                        </div>
                                    </dd>
                                </dl>
                                
                                <dl>
                                    <dt>
                                        {{ form_label(form.address, '住所', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-zipInput{{ has_errors(form.postal_code) ? ' error' }}"><span>{{ '〒'|trans }}</span>
                                            {{ form_widget(form.postal_code) }}
                                            <div class="ec-zipInputHelp">
                                                <div class="ec-zipInputHelp__icon">
                                                    <div class="ec-icon"><img
                                                                src="{{ asset('assets/icon/question-white.svg') }}" alt="">
                                                    </div>
                                                </div><a href="https://www.post.japanpost.jp/zipcode/" target="_blank"><span>{{ '郵便番号検索'|trans }}</span></a>
                                            </div>
                                            {{ form_errors(form.postal_code) }}
                                        </div>

                                        <div class="ec-select{{ has_errors(form.address.pref) ? ' error' }}">
                                            {{ form_widget(form.address.pref) }}
                                            {{ form_errors(form.address.pref) }}
                                        </div>
                                        <div class="ec-input{{ has_errors(form.address.addr01) ? ' error' }}">
                                            {{ form_widget(form.address.addr01, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                            {{ form_errors(form.address.addr01) }}
                                        </div>
                                        <div class="ec-input{{ has_errors(form.address.addr02) ? ' error' }}">
                                            {{ form_widget(form.address.addr02,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                            {{ form_errors(form.address.addr02) }}
                                        </div>
                                    </dd>
                                </dl>
                                
                                <dl>
                                    <dt>
                                        {{ form_label(form.email, 'メールアドレス', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.email.first) ? ' error' }}">
                                            {{ form_widget(form.email.first, { 'attr': { 'placeholder': '例：ec-cube@example.com' }}) }}
                                            {{ form_errors(form.email.first) }}
                                        </div>
                                        <div class="ec-input{{ has_errors(form.email.second) ? ' error' }}">
                                            {{ form_widget(form.email.second, { 'attr': { 'placeholder': '確認のためもう一度入力してください' }}) }}
                                            {{ form_errors(form.email.second) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.password, 'パスワード', { 'label_attr': {'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.password.first) ? ' error' }}">
                                            {{ form_widget(form.password.first, {
                                                'attr': { 'placeholder': '半角英数記号%min%〜%max%文字'|trans({ '%min%': eccube_config.eccube_password_min_len, '%max%': eccube_config.eccube_password_max_len }) },
                                                'type': 'password'
                                            }) }}
                                            {{ form_errors(form.password.first) }}
                                        </div>
                                        <div class="ec-input{{ has_errors(form.password.second) ? ' error' }}">
                                            {{ form_widget(form.password.second, {
                                                'attr': { 'placeholder': '確認のためもう一度入力してください'|trans },
                                                'type': 'password'
                                            }) }}
                                            {{ form_errors(form.password.second) }}
                                        </div>
                                    </dd>
                                </dl>
                                
                                <!-- アプリ画面ではない場合 -->
                                {% if is_application != true %}
	                                <dl>
	                                    <dt>
	                                        {{ form_label(form.birth, '生年月日', { 'label_attr': {'class': 'ec-label' }}) }}
	                                    </dt>
	                                    <dd>
	                                        <div class="ec-birth{{ has_errors(form.birth) ? ' error'}}">
	                                            {{ form_widget(form.birth.year) }}<span>/</span>
	                                            {{ form_widget(form.birth.month) }}<span>/</span>
	                                            {{ form_widget(form.birth.day) }}
	                                            {{ form_errors(form.birth) }}
	                                        </div>
	                                    </dd>
	                                </dl>
                                {% endif %}
                                <!-- .アプリ画面ではない場合 -->
                                
                                <dl style="display:none;">
                                    <dt>
                                        {{ form_label(form.sex, '性別', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-radio{{ has_errors(form.sex) ? ' error' }}">
                                            {{ form_widget(form.sex) }}
                                            {{ form_errors(form.sex) }}
                                        </div>
                                    </dd>
                                </dl>
                                
                                <dl style="display:none;">
                                    <dt>
                                        {{ form_label(form.job, '職業', { 'label_attr': {'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-select{{ has_errors(form.job) ? ' error' }}">
                                            {{ form_widget(form.job) }}
                                            {{ form_errors(form.job) }}
                                        </div>
                                    </dd>
                                </dl>
                                
                                
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_name01, 'お名前1', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_name01) }}
                                            {{ form_errors(form.family_name01) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_sex01, '性別1', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-radio">
                                            {{ form_widget(form.family_sex01) }}
                                            {{ form_errors(form.family_sex01) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_relation01, '続柄1', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_relation01) }}
                                            {{ form_errors(form.family_relation01) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
	                                <dt>
	                                    {{ form_label(form.family_birth01, '誕生日1', { 'label_attr': {'class': 'ec-label' }}) }}
	                                </dt>
	                                <dd>
	                                    <div class="ec-birth">
	                                        {{ form_widget(form.family_birth01.year) }}<span>/</span>
	                                        {{ form_widget(form.family_birth01.month) }}<span>/</span>
	                                        {{ form_widget(form.family_birth01.day) }}
	                                        {{ form_errors(form.family_birth01) }}
	                                    </div>
	                                </dd>
	                            </dl>
                                
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_name02, 'お名前2', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_name02) }}
                                            {{ form_errors(form.family_name02) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_sex02, '性別2', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-radio">
                                            {{ form_widget(form.family_sex02) }}
                                            {{ form_errors(form.family_sex02) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_relation02, '続柄2', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_relation02) }}
                                            {{ form_errors(form.family_relation02) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
	                                <dt>
	                                    {{ form_label(form.family_birth02, '誕生日2', { 'label_attr': {'class': 'ec-label' }}) }}
	                                </dt>
	                                <dd>
	                                    <div class="ec-birth">
	                                        {{ form_widget(form.family_birth02.year) }}<span>/</span>
	                                        {{ form_widget(form.family_birth02.month) }}<span>/</span>
	                                        {{ form_widget(form.family_birth02.day) }}
	                                        {{ form_errors(form.family_birth02) }}
	                                    </div>
	                                </dd>
	                            </dl>
	                            
	                            
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_name03, 'お名前3', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_name03) }}
                                            {{ form_errors(form.family_name03) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_sex03, '性別3', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-radio">
                                            {{ form_widget(form.family_sex03) }}
                                            {{ form_errors(form.family_sex03) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_relation03, '続柄3', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_relation03) }}
                                            {{ form_errors(form.family_relation03) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
	                                <dt>
	                                    {{ form_label(form.family_birth03, '誕生日3', { 'label_attr': {'class': 'ec-label' }}) }}
	                                </dt>
	                                <dd>
	                                    <div class="ec-birth">
	                                        {{ form_widget(form.family_birth03.year) }}<span>/</span>
	                                        {{ form_widget(form.family_birth03.month) }}<span>/</span>
	                                        {{ form_widget(form.family_birth03.day) }}
	                                        {{ form_errors(form.family_birth03) }}
	                                    </div>
	                                </dd>
	                            </dl>
	                            
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_name04, 'お名前4', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_name04) }}
                                            {{ form_errors(form.family_name04) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_sex04, '性別4', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-radio">
                                            {{ form_widget(form.family_sex04) }}
                                            {{ form_errors(form.family_sex04) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_relation04, '続柄4', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_relation04) }}
                                            {{ form_errors(form.family_relation04) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
	                                <dt>
	                                    {{ form_label(form.family_birth04, '誕生日4', { 'label_attr': {'class': 'ec-label' }}) }}
	                                </dt>
	                                <dd>
	                                    <div class="ec-birth">
	                                        {{ form_widget(form.family_birth04.year) }}<span>/</span>
	                                        {{ form_widget(form.family_birth04.month) }}<span>/</span>
	                                        {{ form_widget(form.family_birth04.day) }}
	                                        {{ form_errors(form.family_birth04) }}
	                                    </div>
	                                </dd>
	                            </dl>
	                            
	                            
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_name05, 'お名前5', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_name05) }}
                                            {{ form_errors(form.family_name05) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_sex05, '性別5', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-radio">
                                            {{ form_widget(form.family_sex05) }}
                                            {{ form_errors(form.family_sex05) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_relation05, '続柄5', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_relation05) }}
                                            {{ form_errors(form.family_relation05) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
	                                <dt>
	                                    {{ form_label(form.family_birth05, '誕生日5', { 'label_attr': {'class': 'ec-label' }}) }}
	                                </dt>
	                                <dd>
	                                    <div class="ec-birth">
	                                        {{ form_widget(form.family_birth05.year) }}<span>/</span>
	                                        {{ form_widget(form.family_birth05.month) }}<span>/</span>
	                                        {{ form_widget(form.family_birth05.day) }}
	                                        {{ form_errors(form.family_birth05) }}
	                                    </div>
	                                </dd>
	                            </dl>
	                            
	                            
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_name06, 'お名前6', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_name06) }}
                                            {{ form_errors(form.family_name06) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_sex06, '性別6', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-radio">
                                            {{ form_widget(form.family_sex06) }}
                                            {{ form_errors(form.family_sex06) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_relation06, '続柄6', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_relation06) }}
                                            {{ form_errors(form.family_relation06) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
	                                <dt>
	                                    {{ form_label(form.family_birth06, '誕生日6', { 'label_attr': {'class': 'ec-label' }}) }}
	                                </dt>
	                                <dd>
	                                    <div class="ec-birth">
	                                        {{ form_widget(form.family_birth06.year) }}<span>/</span>
	                                        {{ form_widget(form.family_birth06.month) }}<span>/</span>
	                                        {{ form_widget(form.family_birth06.day) }}
	                                        {{ form_errors(form.family_birth06) }}
	                                    </div>
	                                </dd>
	                            </dl>
                                
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_name07, 'お名前7', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_name07) }}
                                            {{ form_errors(form.family_name07) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_sex07, '性別7', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-radio">
                                            {{ form_widget(form.family_sex07) }}
                                            {{ form_errors(form.family_sex07) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_relation07, '続柄7', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_relation07) }}
                                            {{ form_errors(form.family_relation07) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
	                                <dt>
	                                    {{ form_label(form.family_birth07, '誕生日7', { 'label_attr': {'class': 'ec-label' }}) }}
	                                </dt>
	                                <dd>
	                                    <div class="ec-birth">
	                                        {{ form_widget(form.family_birth07.year) }}<span>/</span>
	                                        {{ form_widget(form.family_birth07.month) }}<span>/</span>
	                                        {{ form_widget(form.family_birth07.day) }}
	                                        {{ form_errors(form.family_birth07) }}
	                                    </div>
	                                </dd>
	                            </dl>
	                            
	                            
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_name08, 'お名前8', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_name08) }}
                                            {{ form_errors(form.family_name08) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_sex08, '性別8', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-radio">
                                            {{ form_widget(form.family_sex08) }}
                                            {{ form_errors(form.family_sex08) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_relation08, '続柄8', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_relation08) }}
                                            {{ form_errors(form.family_relation08) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
	                                <dt>
	                                    {{ form_label(form.family_birth08, '誕生日8', { 'label_attr': {'class': 'ec-label' }}) }}
	                                </dt>
	                                <dd>
	                                    <div class="ec-birth">
	                                        {{ form_widget(form.family_birth08.year) }}<span>/</span>
	                                        {{ form_widget(form.family_birth08.month) }}<span>/</span>
	                                        {{ form_widget(form.family_birth08.day) }}
	                                        {{ form_errors(form.family_birth08) }}
	                                    </div>
	                                </dd>
	                            </dl>
	                            
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_name09, 'お名前9', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_name09) }}
                                            {{ form_errors(form.family_name09) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_sex09, '性別9', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-radio">
                                            {{ form_widget(form.family_sex09) }}
                                            {{ form_errors(form.family_sex09) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_relation09, '続柄9', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_relation09) }}
                                            {{ form_errors(form.family_relation09) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
	                                <dt>
	                                    {{ form_label(form.family_birth09, '誕生日9', { 'label_attr': {'class': 'ec-label' }}) }}
	                                </dt>
	                                <dd>
	                                    <div class="ec-birth">
	                                        {{ form_widget(form.family_birth09.year) }}<span>/</span>
	                                        {{ form_widget(form.family_birth09.month) }}<span>/</span>
	                                        {{ form_widget(form.family_birth09.day) }}
	                                        {{ form_errors(form.family_birth09) }}
	                                    </div>
	                                </dd>
	                            </dl>
	                            
	                            
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_name10, 'お名前10', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_name10) }}
                                            {{ form_errors(form.family_name10) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_sex10, '性別10', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-radio">
                                            {{ form_widget(form.family_sex10) }}
                                            {{ form_errors(form.family_sex10) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl style="">
                                    <dt>
                                        {{ form_label(form.family_relation10, '続柄10', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            {{ form_widget(form.family_relation10) }}
                                            {{ form_errors(form.family_relation10) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
	                                <dt>
	                                    {{ form_label(form.family_birth10, '誕生日10', { 'label_attr': {'class': 'ec-label' }}) }}
	                                </dt>
	                                <dd>
	                                    <div class="ec-birth">
	                                        {{ form_widget(form.family_birth10.year) }}<span>/</span>
	                                        {{ form_widget(form.family_birth10.month) }}<span>/</span>
	                                        {{ form_widget(form.family_birth10.day) }}
	                                        {{ form_errors(form.family_birth10) }}
	                                    </div>
	                                </dd>
	                            </dl>
	                            
                                
                                {# エンティティ拡張の自動出力 #}
                                {% for f in form if f.vars.eccube_form_options.auto_render %}
                                    {% if f.vars.eccube_form_options.form_theme %}
                                        {% form_theme f f.vars.eccube_form_options.form_theme %}
                                        {{ form_row(f) }}
                                    {% else %}
                                        <dl>
                                            <dt>
                                                {{ form_label(f) }}
                                            </dt>
                                            <dd>
                                                <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
                                                    {{ form_widget(f) }}
                                                    {{ form_errors(f) }}
                                                </div>
                                            </dd>
                                        </dl>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="ec-RegisterRole__actions"{% if is_application == true %}style="padding-bottom:120px;"{% endif %}>
                                <div class="ec-off4Grid">
                                    <div class="ec-off4Grid__cell">
                                        <button type="submit"
                                                class="ec-blockBtn--cancel">{{ '登録する'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
