{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-newItemRole">
        
        <div class="ec-newItemRole__list">
            
            <div class="ec-newItemRole__listItem" style="width:calc(100%/3);">
                <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:center;">{{ 'INSTAGRAM'|trans }}</p>
                <a href="https://www.instagram.com/cake_yokogawa/" target="_blank" rel="noopener noreferrer">
                    <img src="{{ asset('assets/img/top/insta_yokogawa.jpg') }}" alt="">
                </a>
            </div>


            <div class="ec-newItemRole__listItem" style="width:calc(100%/3);">
                <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:center;">{{ 'FACEBOOK'|trans }}</p>
                <div>
                    <div class="fb-page" data-href="https://www.facebook.com/T.YOKOGAWA/" data-tabs="timeline" data-width="333" data-height="346" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                        <blockquote cite="https://www.facebook.com/T.YOKOGAWA/" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/T.YOKOGAWA/">âŸéqçHñ[ T.YOKOGAWA</a>
                        </blockquote>
                    </div>
                </div>
            </div>
            
            
            <div class="ec-newItemRole__listItem" style="width:calc(100%/3);">
                <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:center;">{{ 'LINE@'|trans }}</p>
                <div>
                   <p style="padding-bottom:20px;">T.YOKOGAWAÇÃç≈êVèÓïÒÇÇ®ìÕÇØÇµÇ‹Ç∑ÅB</p>
                   <a href="https://line.me/R/ti/p/%40854fgmlr" target="_blank" rel="noopener noreferrer">
                       <img src="{{ asset('assets/img/top/line_friend.png') }}" alt="" style="width:40%; margin:auto; display:block;">
                   </a>
                   <img src="{{ asset('assets/img/top/line_qr_yokogawa.png') }}" alt="" style="width:40%; margin:auto; display:block;">
                 <div>
            </div>

        </div>
    
    </div>
</div>