{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-newItemRole">
        
        <div class="ec-newItemRole__list">
            
            <div class="ec-newItemRole__listItem" style="width:calc(100%/3);">
                <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:center; font-size: 28px;">{{ 'INSTAGRAM'|trans }}</p>
                <a href="https://www.instagram.com/cake_yokogawa/" target="_blank" rel="noopener noreferrer"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/insta.jpg" alt=""></a>
            </div>

            <div class="ec-newItemRole__listItem" style="width:calc(100%/3);">
                <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:center; font-size: 28px;">{{ 'FACEBOOK'|trans }}</p>
                <div>
                    <div class="fb-page fb_iframe_widget" data-href="https://ja-jp.facebook.com/T.YOKOGAWA" data-tabs="timeline" data-width="500" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=384&amp;height=400&amp;hide_cover=false&amp;href=https%3A%2F%2Fja-jp.facebook.com%2FT.YOKOGAWA&amp;locale=ja_JP&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=500"><span style="vertical-align: bottom; width: 384px; height: 400px;"><iframe name="f199553439fad84" width="500px" height="400px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v8.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1fbca97579095c%26domain%3Dt-yokogawa.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Ft-yokogawa.com%252Ff27e630df5f6ec%26relation%3Dparent.parent&amp;container_width=384&amp;height=400&amp;hide_cover=false&amp;href=https%3A%2F%2Fja-jp.facebook.com%2FT.YOKOGAWA&amp;locale=ja_JP&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=500" style="border: none; visibility: visible; width: 384px; height: 400px;" class=""></iframe></span></div>
                </div>
            </div>
            
            
            <div class="ec-newItemRole__listItem" style="width:calc(100%/3);">
                <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:center; font-size: 28px;">{{ 'LINE@'|trans }}</p>
                <div>
                   <p style="padding-bottom:20px; font-size:14px;">T.YOKOGAWAÇÃç≈êVèÓïÒÇÇ®ìÕÇØÇµÇ‹Ç∑ÅB</p>
                   <a href="https://line.me/R/ti/p/%40854fgmlr" target="_blank" rel="noopener noreferrer">
                       <img src="{{ asset('assets/img/top/line_friend.png') }}" alt="" style="width:40%; margin:auto; display:block;">
                   </a>
                   <img src="{{ asset('assets/img/top/line_qr_yokogawa.png') }}" alt="" style="width:40%; margin:auto; display:block;">
                 </div>
            </div>

        </div>
    
    </div>
</div>