{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('assets/css/slick.css', 'user_data') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/slick-theme.css', 'user_data') }}">
{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            $('.slick-track-list').slick({
                dots: true,
                arrows: false,
                autoplay: true,
                speed: 300
            });
            
            /*
            $('.main_visual').slick({
                dots: true,
                arrows: false,
                autoplay: true,
                speed: 300
            });
            */
        });
    </script>
{% endblock javascript %}

{% block main %}
    <!--
    <div class="ec-sliderRole">
        <div class="main_visual">
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/img_hero_pc01.jpg') }}"></div>
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/img_hero_pc02.jpg') }}"></div>
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/img_hero_pc03.jpg') }}"></div>
        </div>
    </div>
    -->
{% endblock %}
