{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block main %}
    <div class="ec-layoutRole__main">
        
        <div class="ec-mypageRole"style="padding-top: 125px;">
            <!--
            <div class="ec-pageHeader">
                <h1>マイページ</h1>
            </div>
            -->
            
            <p>ポイント情報</p>
            <div class="ec-welcomeMsg">
			    {% if BaseInfo.option_point %}
			        <p>
			        	<span style="font-size:15px;">
			        		{{ '現在のポイント' }} 
			        	</span>
			        	<span style="font-weight:bold; font-size:20px;">
			        		{{ ' %point%'|trans({ '%point%': app.user.point|number_format}) }} 
			        	</span>
			        	<span style="font-size:15px;">
			        		{{ 'pt' }}
			        	</span>
			        </p>
			        {% set this_month   = 'now'|date('n') %}
			        {% set next_month   = 'now'|date_modify('+1 month')|date('n')  %}
			        
			        {% if this_month == 12 %}
				        <!-- 今月が12月なら今月末ポイント失効 -->
				        <p>今月末失効するポイント　　{{ ' %point%'|trans({ '%point%': app.user.point|number_format}) }}pt</p>
					    <p>来月末失効するポイント　　0pt</p>
				    {% elseif this_month == 11 %}
				    	<!-- 今月が11月なら今月末ポイント失効 -->
				        <p>今月末失効するポイント　　0pt</p>
					    <p>来月末失効するポイント　　{{ ' %point%'|trans({ '%point%': app.user.point|number_format}) }}pt</p>
				    {% else %}
				    	<!-- 今月が11月かつ12月でなければポイント失効表示は0 -->
				        <p>今月末失効するポイント　　0pt</p>
					    <p>来月末失効するポイント　　0pt</p>
				    {% endif %}
			    {% else %}
			    	<p>
				    	<span style="font-size:15px;">
			        		{{ '現在のポイント' }} 
			        	</span>
			        	<span style="font-weight:bold; font-size:20px;">
			        		{{ ' 0 ' }} 
			        	</span>
			        	<span style="font-size:15px;">
			        		{{ 'pt' }}
			        	</span>
		        	</p>
		        	<p>今月末失効するポイント　　0pt</p>
				    <p>来月末失効するポイント　　0pt</p>
			    {% endif %}
			    
			</div>
            <p>
            	<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_agreement"}) }}">利用履歴</a>
            </p>
            
            <br><br>
            <!-- 公式オンラインショップ　リンク -->
	    	<div>
	    		<a href="{{ url('homepage') }}" class="app_go_onlineshop">公式オンラインショップ</a>
	    	</div>
            <br><br>
            
            <p>ご家族の情報を登録いただきますと、<br>誕生日にポイントを差し上げます。</p>
            
            <div class="ec-navlistRole">
			    <ul class="ec-navlistRole__navlist">
			        <li class="ec-navlistRole__item">
			            <a href="{{ url('mypage_change') }}?app_mode">登録情報の変更・確認</a>
			        </li>
			        <li class="ec-navlistRole__item ">
			            <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_point_history"}) }}">ポイント履歴</a>
			        </li>
			        <li class="ec-navlistRole__item ">
			            <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_agreement"}) }}">利用規約</a>
			        </li>
			        <li class="ec-navlistRole__item ">
			            <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_agreement"}) }}">通知設定</a>
			        </li>
				</ul>
			</div>

			<div style="padding-bottom:100px;"></div>

		</div>
        
    </div>
{% endblock %}
