{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block main %}
    <div class="ec-layoutRole__main">
        
        <div class="ec-mypageRole"style="padding-top: 125px;">
            
            <p style="padding-bottom:10px; color:#A9A9A9;">ポイント情報</p>
            <div class="currentpoint_frame">
			    {% if BaseInfo.option_point %}
			        <p>
			        	<div class="mypoint_frame_left" style="float:left;">
				        	<span style="font-weight:bold; font-size:18px;">
				        		{{ '現在のポイント' }} 
				        	</span>
				        </div>
				        <div class="mypoint_frame_right" style="float:left;">
				        	<span style="font-weight:bold; font-size:20px;">
				        		{{ ' %point%'|trans({ '%point%': app.user.point|number_format}) }} 
				        	</span>
				        	<span style="font-weight:bold; font-size:15px;">
				        		{{ 'pt' }}
				        	</span>
			        	</div>
			        	<div style="clear:both;"></div>
			        </p>
			        {% set this_month   = 'now'|date('n') %}
			        {% set next_month   = 'now'|date_modify('+1 month')|date('n')  %}
			        
			        {% if this_month == 12 %}
				        <!-- 今月が12月なら今月末ポイント失効 -->
				        <div class="mypoint_frame_left mypoint_lost_thismonth" style="float:left;">
				        	<p>今月末失効するポイント</p>
				        </div>
				        <div class="mypoint_frame_right mypoint_lost_thismonth" style="float:left;">
					        <span class="lost_point">{{ ' %point%'|trans({ '%point%': app.user.point|number_format}) }}</span><span>pt</span>
					    </div>
			        	<div style="clear:both;"></div>
				        
				        <div class="mypoint_frame_left mypoint_lost_nextmonth" style="float:left;">
						    <p>来月末失効するポイント</p>
						</div>
				        <div class="mypoint_frame_right mypoint_lost_nextmonth" style="float:left;">
						    <span class="lost_point">0</span><span>pt</span>
					    </div>
						<div style="clear:both;"></div>
					    
				    {% elseif this_month == 11 %}
				    	<!-- 今月が11月なら今月末ポイント失効 -->
				        <div class="mypoint_frame_left mypoint_lost_thismonth" style="float:left;">
					        <p>今月末失効するポイント</p>
					    </div>
				        <div class="mypoint_frame_right mypoint_lost_thismonth" style="float:left;">
					        <span class="lost_point">0</span><span>pt</span>
					    </div>
			        	<div style="clear:both;"></div>
				        
				        <div class="mypoint_frame_left mypoint_lost_nextmonth" style="float:left;">
						    <p>来月末失効するポイント</p>
						</div>
				        <div class="mypoint_frame_right mypoint_lost_nextmonth" style="float:left;">
						    <span class="lost_point">{{ ' %point%'|trans({ '%point%': app.user.point|number_format}) }}</span><span>pt</span>
						</div>
			        	<div style="clear:both;"></div>
					    
				    {% else %}
				    	<!-- 今月が11月かつ12月でなければポイント失効表示は0 -->
				    	<div class="mypoint_frame_left mypoint_lost_thismonth" style="float:left;">
					        <p>今月末失効するポイント</p>
					    </div>
				        <div class="mypoint_frame_right mypoint_lost_thismonth" style="float:left;">
					        <span class="lost_point">0</span><span>pt</span>
					    </div>
			        	<div style="clear:both;"></div>
				        
				        <div class="mypoint_frame_left mypoint_lost_nextmonth" style="float:left;">
						    <p>来月末失効するポイント</p>
						</div>
				        <div class="mypoint_frame_right mypoint_lost_nextmonth" style="float:left;">
						    <span class="lost_point">0</span><span>pt</span>
					    </div>
			        	<div style="clear:both;"></div>
					    
				    {% endif %}
			    {% else %}
			    	<p>
				    	<div class="mypoint_frame_left" style="float:left;">
					    	<span style="font-size:15px;">
				        		{{ '現在のポイント' }} 
				        	</span>
			        	</div>
				        <div class="mypoint_frame_right" style="float:left;">
				        	<span style="font-weight:bold; font-size:20px;">
				        		{{ ' 0 ' }} 
				        	</span>
				        	<span style="font-size:15px;">
				        		{{ 'pt' }}
				        	</span>
				        </div>
			        	<div style="clear:both;"></div>
		        	</p>
		        	<div class="mypoint_frame_left mypoint_lost_thismonth" style="float:left;">
		        		<p>今月末失効するポイント</p>
		        	</div>
				    <div class="mypoint_frame_right mypoint_lost_thismonth" style="float:left;">
		        		<span class="lost_point">0</span><span>pt</span>
		        	</div>
			        <div style="clear:both;"></div>
		        		
		        	<div class="mypoint_frame_left mypoint_lost_nextmonth" style="float:left;">
				    	<p>来月末失効するポイント</p>
				    </div>
				    <div class="mypoint_frame_right mypoint_lost_nextmonth" style="float:left;">
				    	<span class="lost_point">0</span><span>pt</span>
				    </div>
			        <div style="clear:both;"></div>
			    {% endif %}
			    
			    <div style="border-bottom:1px solid #ECECEC;"></div>
			    
			    <p style="padding-top:3px; padding-bottom:3px;">
	            	<div style="float:left; padding-left:72%;">
	            		<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_point_history"}) }}">利用履歴</a>
	            	</div>
	            	<div style="float:left; padding-top:4px; padding-left:3px;">
						<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_point_history"}) }}">
							<div class="arrow_right_small"></div>
						</a>
					</div>
					<div style="clear:both;"></div>
	            </p>
			    
			</div>
            
            <!-- 公式オンラインショップ　リンク -->
	    	<div class="">
	    		<a href="{{ url('homepage') }}" class="app_go_onlineshop">公式オンラインショップ</a>
	    	</div>
            
            <div class="mypage_menu_frame">
            
	            <div class="birth_point_sentence">
	            	<p>ご家族の情報を登録いただきますと、<br>誕生日にポイントを差し上げます。</p>
	            </div>
	            
	            <div class="ec-navlistRole">
	            	
	            	<div class="mypage_menu_btn" style="float:left;">
		        		<a href="{{ url('mypage_change') }}?app_mode">
		        			<div class="" style="float:left; width:70%;">登録情報の<br>変更・確認</div>
			        		<div class="" style="float:left; width:30%;">
			        			<img src="/html/user_data/assets/img/app_icon/app_icon_yoyaku.png">
			        		</div>
			        		<div style="clear:both;"></div>
		        		</a>
		        	</div>
				    <div class="mypage_menu_btn" style="float:left;">
		        		<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_point_history"}) }}">
		        			<div class="" style="float:left; width:70%;">ポイント履歴</div>
			        		<div class="" style="float:left; width:30%;">
			        			<img src="/html/user_data/assets/img/app_icon/app_icon_yoyaku.png">
			        		</div>
			        		<div style="clear:both;"></div>
		        		</a>
		        	</div>
			        <div style="clear:both;"></div>
			        
			        <div class="mypage_menu_btn" style="float:left;">
		        		<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_agreement"}) }}">
		        			<div class="" style="float:left; width:70%;">利用規約</div>
			        		<div class="" style="float:left; width:30%;">
			        			<img src="/html/user_data/assets/img/app_icon/app_icon_yoyaku.png">
			        		</div>
			        		<div style="clear:both;"></div>
		        		</a>
		        	</div>
				    <div class="mypage_menu_btn" style="float:left;">
		        		<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_notice"}) }}">
			        		<div class="" style="float:left; width:70%;">通知設定</div>
			        		<div class="" style="float:left; width:30%;">
			        			<img src="/html/user_data/assets/img/app_icon/app_icon_yoyaku.png">
			        		</div>
			        		<div style="clear:both;"></div>
		        		</a>
		        	</div>
			        <div style="clear:both;"></div>
			        
				</div>

				<div style="padding-bottom:100px;"></div>
				
			</div>

		</div>
        
    </div>
{% endblock %}