{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-newItemRole">
        
        <h2 class="title"><strong class="agp">SHOP</strong></h2>
        
        <div class="ec-newItemRole__list">
            
            <div class="ec-newItemRole__listItem" style="width:calc(100%/2);">
                    <img src="{{ asset('assets/img/top/shop_honten01.jpg') }}">
                    <div style="margin-left:50px;">
                      <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:left; font-size:18px;">{{ 'T.YOKOGAWA ˜aò’†‰›–{“X'|trans }}</p>
                      <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:left; font-size:13px;margin-top:0px;">{{ 'Address'|trans }}&emsp;{{ '§594-1104@‘åã•{˜aòs–œ’¬268-1'|trans }}</p>
                      <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:left; font-size:13px;margin-top:0px;">{{ 'Tel'|trans }}&emsp;&emsp;&emsp;&emsp;{{ '0725-57-2888'|trans }}</p>
                    </div>
            </div>
            <div class="ec-newItemRole__listItem" style="width:calc(100%/2);">
                    <img src="{{ asset('assets/img/top/shop_kishiwada01.jpg') }}">
                    <div style="margin-left:50px;">
                      <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:left; font-size:18px;">{{ 'T.YOKOGAWA Šİ˜a“c“X'|trans }}</p>
                      <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:left; font-size:13px;margin-top:0px;">{{ 'Address'|trans }}&emsp;{{ '§596-0044 ‘åã•{Šİ˜a“cs¼”V“à’¬5-7'|trans }}</p>
                      <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:left; font-size:13px;margin-top:0px;">{{ 'Tel'|trans }}&emsp;&emsp;&emsp;&emsp;{{ '072-447-8801'|trans }}</p>
                    </div>
            </div>

        </div>
        
        <div class="ec-eyecatchRole">
            <a href="{{ url('homepage') }}" class="btn">“X•Üî•ñ</a>
        </div>
    
    </div>
</div>