{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<section class="pickup">
  <h2 class="title"><strong class="agp">PICK UP</strong></h2>
  <ul class="inner">

  <li>
    <span>
    	<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "product_lineup"}) }}#seasonal">
    		<img src="https://gigaplus.makeshop.jp/yokogawa/common/img/autumn.jpg" alt="">
    	</a>
    </span>
    <p><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "product_lineup"}) }}#seasonal">お待たせしました！<br>秋の味覚が揃いました。</a></p>
  </li>
  <li>
    <span>
    	<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "product_lineup"}) }}#chocolate">
    		<img src="https://gigaplus.makeshop.jp/yokogawa/common/img/chocolate.jpg" alt="">
    	</a>
    </span>
    <p><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "product_lineup"}) }}#chocolate">オーナーパティシェ<br>自慢のクオーレ</a></p>
  </li>
  <li>
    <span>
    	<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "product_lineup"}) }}#halloween">
    		<img src="https://gigaplus.makeshop.jp/yokogawa/halloween2021/img/halloween_menu_sp.png" alt="">
    	</a>
    </span>
    <p><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "product_lineup"}) }}#halloween">笑顔あふれる<br>ハロウィンギフト！</a></p>
  </li>


	</ul><br>
	<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "product_lineup"}) }}" class="btn">商品一覧</a>
</section>