{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-newItemRole">
        
        <div class="ec-secHeading" style="text-align:center;">
            <span class="ec-secHeading__en">{{ 'PICK UP'|trans }}</span>
        </div>
        
        <div class="ec-newItemRole__list">
            
            <div class="ec-newItemRole__listItem" style="width:calc(100%/3);">
                <a href="{{ url('product_list') }}?category_id=15" style="text-decoration: none;">
                    <img src="{{ asset('assets/img/top/mango.jpg') }}">
                    <p class="ec-newItemRole__listItemTitle" style="color:black; text-align:center;">{{ 'マンゴーのさわやかな'|trans }}<br>{{ 'パウンドケーキなど'|trans }}</p>
                </a>
            </div>
            <div class="ec-newItemRole__listItem" style="width:calc(100%/3);">
                <a href="{{ url('product_list') }}?category_id=19" style="text-decoration: none;">
                    <img src="{{ asset('assets/img/top/summer_pickup.jpg') }}">
                    <p class="ec-newItemRole__listItemTitle" style="text-align:center;">{{ 'サマーギフト'|trans }}<br>{{ '送料無料商品もご用意'|trans }}</p>
                </a>
            </div>
            <div class="ec-newItemRole__listItem" style="width:calc(100%/3);">
                <a href="{{ url('product_list') }}?category_id=12" style="text-decoration: none;">
                    <img src="{{ asset('assets/img/top/baumkuchen.jpg') }}">
                    <p class="ec-newItemRole__listItemTitle" style="text-align:center;">{{ 'バームクーヘン'|trans }}</p>
                </a>
            </div>

        </div>
        
        <div class="ec-eyecatchRole">
            <div class="ec-eyecatchRole__intro" style="max-width:300px; height:60px; margin:auto;">
                <a class="ec-blockBtn--top" style="background-color:#F5F4F9; border:1px solid #F5F4F9; color:#000;" href="{{ url('product_list') }}">{{ '商品一覧'|trans }}</a>
            </div>
        </div>
    
    </div>
</div>